
ol.what-whereby-whatfore__data
    display: none

.what-whereby-whatfore__chart
    position: relative
    margin: 0 -1rem
    overflow-x: scroll 

.what-whereby-whatfore__chart canvas
    position: absolute
    top: 0
    left: 0
    z-index: 0

.what-whereby-whatfore__data,
.what-whereby-whatfore__chart

    
    z-index: 10
    ol.what-whereby-whatfore__steps
        position: relative
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        justify-content: space-between
        // align-content: stretch

    .what-whereby-whatfore__step-description

        display: block
        padding: .5rem 1rem
        background-color: rgba(white, .5)
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                font-size: ($view["font-ratio"] ** -1)rem
                line-height: $view["baseline-height"] * .75

    .what-whereby-whatfore__option-description
        display: none

    .what-whereby-whatfore__option--verbose .what-whereby-whatfore__option-description
        display: block
        padding: .5rem 1rem
        background-color: rgba(white, .5)
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                font-size: ($view["font-ratio"] ** -1)rem
                line-height: $view["baseline-height"] * .75

    .what-whereby-whatfore__step-description
        min-height: 12rem


    .what-whereby-whatfore__step
        flex: 0 1 20%
        margin: 1rem
        min-width: 1%
        background-color: rgba(white,.3)
        

    .what-whereby-whatfore__step:first-child
        // margin-left: 0

    .what-whereby-whatfore__step-info
        // margin: -1rem

    .what-whereby-whatfore__step-title
        border: 2px solid white
        padding: .5rem 1rem
        font-weight: 900
        text-transform: uppercase
        letter-spacing: .05em
        font-style: italic
        background-color: white

    .what-whereby-whatfore__option-title
        font-weight: 600
        background-color: white
        box-shadow: 0px 0px 5px rgba(black, 0.5)
        padding: 1.5rem 1rem
        height: 6rem


    .what-whereby-whatfore__options
        margin: 1rem
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        height: 50rem

    .what-whereby-whatfore__option
        margin-top: 2rem


