extends /_shared-jade/layout--accelerators

block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__what-whereby-wherefore"
    - var pagePath = "/beschleuniger/was-womit-wozu/"

block page__main

    - var $story = helpers.readYAML("_source/site/accelerators/accelerators__story.yaml")

    .accelerators__chart#accelerators__chart--what-whereby-wherefore

    +story-section($story.sections["what-whereby-wherefore"])


    //- - var $www = helpers.readYAML("_source/site/accelerators/what-whereby-wherefore/accelerators__what-whereby-wherefore.yaml")
    //- ol.what-whereby-whatfore__chart


block script_
    script.
        document.addEventListener("DOMContentLoaded", function () {
        AcceleratorsLibrary.init("accelerators__what-whereby-wherefore");
        });


    //- ol.what-whereby-whatfore__data
    //-     each $step in $www.steps
    //-         li.what-whereby-whatfore__step
    //-             .what-whereby-whatfore__step-title!= $step.title
    //-             .what-whereby-whatfore__step-description!= $step.description
    //-             ul
    //-                 each $option in $step.options
    //-                     li(id=$option.name class="what-whereby-whatfore__option")
    //-                         .what-whereby-whatfore__option-title!= $option.title 
    //-                         .what-whereby-whatfore__option-description!= $option.description 
