

.c-navigation__submenu
    display: none

.page.c-navigation--open .c-navigation__submenu
    display: block




.c-navigation__menu-item
    cursor: pointer


.c-navigation
    width: 100vw
    position: fixed
    top: 0
    left: 0
    padding: 0
    z-index: 2000



.c-navigation__background
    z-index: -1000
    position: absolute
    top: 0
    background-color: white
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    width: 100vw
    transition: 100ms transform
    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            height: 14 * $view["baseline-height"]

    

.page .c-navigation__background
    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            transform: translateY(-12 * $view["baseline-height"])

.page.c-navigation--open .c-navigation__background
    transform: translateY(0rem);


.c-navigation__header

    width: 100vw
    position: top
    top: 0
    left: 0
    padding: 0
    z-index: 2000


    .c-navigation__menu-item-container
        position: relative
        // border-bottom: $line--thick
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                padding: 0 $view["grid-column-padding"]
                padding-top: 0

    .c-navigation__menu-item-title
        text-transform: uppercase
        font-style: italic
        font-weight: bold
        
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, 0, 1)

    .c-navigation__menu-item-link
        text-decoration: none

    .c-navigation__submenu-item-link
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                padding: 0 $view["grid-column-padding"]
                $typesetting-declarations($view, 0, 2)

        text-decoration: none
        display: block
        width: 100%
        border-bottom: $line--thin-dotted


    .c-navigation__menu-item--next
        background-color: red;

    .c-navigation__submenu-item-link:hover
        background-color: rgba(white, 0.2)
     
    .c-navigation__menu-item--kfb,
    .c-navigation__menu-item--forum,
    .c-navigation__menu-item--accelerators,
    .c-navigation__menu-item--misc
        display: none

        @media screen and (min-width: $responsive-views.md["min-width"])
            display: block
            
    .c-navigation__menu-item--menu
        @media screen and (min-width: $responsive-views.md["min-width"])
            display: none





    // .c-navigation__menu-item-icon
    //     background-position: top center
    //     width: 4rem
    //     height: 2rem
    //     position: absolute
    //     top: 0
    //     left: 0
    //     opacity: .5
    //     display: none
    
    

    // .c-navigation__submenu-item-title
    //     text-transform: uppercase
    //     font-style: italic
    //     font-weight: bold
        
    //     for $viewname, $view in $responsive-views
    //         @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
    //             $font-size: ($view["font-ratio"] ** -2)rem





.page--homepage .c-navigation__submenu-item-link[href="/"] ,
.page--kfb__homepage .c-navigation__submenu-item-link[href="/kfb/"] ,
.page--statute .c-navigation__submenu-item-link[href="/kfb/satzung/"] ,
.page--kfb-meetings .c-navigation__submenu-item-link[href="/kfb/sitzungen/"] ,
.page--elections .c-navigation__submenu-item-link[href="/kfb/wahlen/"] ,
.page--forum-homepage .c-navigation__submenu-item-link[href="/forum/"] ,
.page--forum-registration .c-navigation__submenu-item-link[href="/forum/registrierung/"] ,
.page--forum-assemblies .c-navigation__submenu-item-link[href="/forum/vollversammlungen/"] ,
.page--weblinks .c-navigation__submenu-item-link[href="/weblinks/"],


.page--impressum .c-navigation__submenu-item-link[href="/beschleuniger/ueberblick/"],

.page--accelerators__operating-principle .c-navigation__submenu-item-link[href="/beschleuniger/funktionsweise/"],

.page--accelerators__linking-nations .c-navigation__submenu-item-link[href="/beschleuniger/international/"],

.page--accelerator__atlas .c-navigation__submenu-item-link[href="/beschleuniger/atlas/"]

.page--accelerators__brochure .c-navigation__submenu-item-link[href="/beschleuniger/broschuere/"]


    background-color: rgba(white, 0.5)
    
