mixin objToList(entries, pagePath, tooltipPrefix="")
    ul.menu
        each entry, index in entries
            li.menu__item(data-hoverlink=entry.url)
                a.tooltipped.menu__item-link(href=entry.url data-index=index title!= tooltipPrefix + entry.title)
                    .menu__item-title!= entry.title
                    .menu__item-icon
                        svg(version="1.1", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 52")
                            rect.icon-stroke(x='2', y='28', width='22', height='22')
                    if (entry.icon)
                        .menu__item-icon-2(class!= "svg__" + entry.icon)

.c-navigation

    .c-navigation__header

        .c-navigation__header-container

            .c-navigation__header-row

                .c-navigation__tooltip

                .c-navigation__header-item-group.c-navigation__header-item-group--menu
                    .cell
                        .menu__item-link.c-navigation__opener-button Menü


                .c-navigation__header-item-group.c-navigation__header-item-group--home
                    .cell
                        nav.c-navigation__header-nav-2
                            ul.menu
                                li.menu__item(data-hoverlink="/")
                                    a.menu__item-link.tooltipped(href="/"  title="Startseite")
                                        .menu__item-title!= Startseite
                                        .menu__item-icon
                                            svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 26 52")
                                                rect.icon-stroke(x='2', y='28', width='22', height='22')
                                                polygon.icon-stroke(points="12.859 16.5 3.789 22.75 21.93 22.75 12.859 16.5")


                .c-navigation__header-item-group.c-navigation__header-item-group--kfb
                    .cell
                        nav.c-navigation__header-nav
                            +objToList(helpers.getSitemap().data["/"].pages["kfb"].pages, pagePath, "KfB: ")


                .c-navigation__header-item-group.c-navigation__header-item-group--forum
                    .cell
                        nav.c-navigation__header-nav
                            +objToList(helpers.getSitemap().data["/"].pages["forum"].pages, pagePath, "Forum: ")


                .c-navigation__header-item-group.c-navigation__header-item-group--accelerators
                    .cell
                        if (helpers.getSitemap().data["/"].pages["accelerators"])
                            nav.c-navigation__header-nav
                                +objToList(helpers.getSitemap().data["/"].pages["accelerators"].pages, pagePath, "Beschleuniger: ")

                .c-navigation__header-item-group.c-navigation__header-item-group--misc
                    .cell
                        nav.c-navigation__header-nav
                            +objToList(Object.keys(helpers.getSitemap().data["/"].pages).map(key => helpers.getSitemap().data["/"].pages[key]).filter(p => !p.pages), pagePath, "")



                .c-navigation__header-item-group.c-navigation__header-item-group--next
                    .cell
                        nav.c-navigation__header-nav-2
                            ul.menu
                                li.menu__item
                                    a.menu__item-link.menu__item-link--next.tooltipped(href="NEXT_URL" title="Nächste Seite")
                                        svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 26 52")
                                            polygon.icon-stroke(points='22.537 38.756 3.463 27.744 3.463 49.768 22.537 38.756')



    .c-navigation__main
        .navigation__background.navigation__background--top
            svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 1039 804")
                rect.yellow(width='329', height='250')
                rect.blue(x='355', y='1', width='329', height='250')
                rect.red(x='710', y='1', width='329', height='250')
                rect.yellow(y='276', width='329', height='250')
                rect.blue(x='355', y='277', width='329', height='250')
                rect.red(x='710', y='277', width='329', height='250')
                rect.yellow(y='553', width='329', height='250')
                rect.blue(x='355', y='554', width='329', height='250')
                rect.red(x='710', y='554', width='329', height='250')

        .navigation__background.navigation__background--bottom
            svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 1039 804")
                rect.yellow(width='329', height='250')
                rect.blue(x='355', y='1', width='329', height='250')
                rect.red(x='710', y='1', width='329', height='250')
                rect.yellow(y='276', width='329', height='250')
                rect.blue(x='355', y='277', width='329', height='250')
                rect.red(x='710', y='277', width='329', height='250')
                rect.yellow(y='553', width='329', height='250')
                rect.blue(x='355', y='554', width='329', height='250')
                rect.red(x='710', y='554', width='329', height='250')


        .container
            .c-navigation__microsite-selectors

                .c-navigation__microsite-selector.c-navigation__microsite-selector--kfb

                    .c-navigation__microsite-selector-header
                        a.onClickLink(href="/kfb")
                            .c-navigation__microsite-selector-logo
                                .inline-svg.svg__logo--kfb

                            h2
                                | Komitee für Beschleuniger&shy;physik

                            .c-navigation__microsite-selector-tagline
                                | Die #[strong Vertretung] deutscher Beschleuniger&shy;physikerinnen und #[span.nowrap -physiker] nach außen.

                    .c-navigation__microsite-selector-details
                        +objToList(helpers.getSitemap().data["/"].pages["kfb"].pages, pagePath)



                .c-navigation__microsite-selector.c-navigation__microsite-selector--forum

                    .c-navigation__microsite-selector-header

                        a.onClickLink(href="/forum")
                            .c-navigation__microsite-selector-logo
                                .inline-svg.svg__logo--forum
                            h2
                                |Forum Beschleuniger&shy;physik

                            .c-navigation__microsite-selector-tagline
                                | Die #[strong Interessens&shy;gemeinschaft] deutscher Beschleuniger&shy;physikerinnen und #[span.nowrap -physiker].

                    .c-navigation__microsite-selector-details
                        +objToList(helpers.getSitemap().data["/"].pages["forum"].pages, pagePath)



                if (helpers.getSitemap().data["/"].pages["accelerators"])
                    .c-navigation__microsite-selector.c-navigation__microsite-selector--accelerators

                        //- .c-navigation__microsite-selector-header
                        //-
                        //-     a.onClickLink(href="/")
                        //-         figure.c-navigation__microsite-selector-logo
                        //-             img(src="/_shared/images/logos/logo--empty.svg" alt="empty")
                        //-         .c-navigation__microsite-selector-tagline
                        //-             p &nbsp;
                        //-
                        //-
                        //-     //- a.onClickLink(href="/beschleuniger")
                        //-     //-     figure.c-navigation__microsite-selector-logo
                        //-     //-         img(src="/_shared/images/logos/logo--accelerators.svg" alt="[Logo] Beschleuniger 2016")
                        //-     //-     h2
                        //-     //-         | <br>Beschleuniger 2016
                        //-     //-
                        //-     //- .c-navigation__microsite-selector-tagline
                        //-     //-     p Einblicke in das, was die Beschleunigungs&shy;physik in Deutschland bewegt.
                        //-
                        //-

                        .c-navigation__microsite-selector-details
                            .global-pages
                                +objToList(Object.keys(helpers.getSitemap().data["/"].pages).map(key => helpers.getSitemap().data["/"].pages[key]).filter(p => !p.pages), pagePath)

                        //- .c-navigation__microsite-selector-details
                        //-     +objToList(helpers.getSitemap().data["/"].pages["accelerators"].pages, pagePath)
