// .c-navigation__main

//     display: none
//     @extend .content-font

//     width: 100vw
//     height: 100vh
//     z-index: 1000
//     top: 0px
//     left: 0
//     position: absolute

//     overflow-y: scroll
//     background: rgba(0,0,0,.1)

//     transform: translate(0, -100vh);
//     transition: transform 300ms


//     .navigation__background
//         width: 100%
//         height: 2 * $line-height--root
//         position: absolute

//         left: 0;
//         right: 0;
//         margin-left: auto;
//         margin-right: auto;

//         svg
//             width: 1039px
//             position: absolute
//             bottom: -350px
//             left: 0;
//             right: 0;

//             // height: 100%

//             transform: perspective( 1000px ) rotateX(86deg) scale(1.1)
//             margin-left: auto;
//             margin-right: auto;

//             .yellow
//                 fill: $kfb_yellow
//             .blue
//                 fill: $kfb_blue
//             .red
//                 fill: $kfb_red


//     .navigation__background--top
//         top: 0

//         svg
//             transform: perspective( 1000px ) rotateZ(180deg) rotateX(86deg) scale(-1.2)
//             top: -340px

//     .navigation__background--bottom
//         bottom: 0



//     .menu__item-title
//         display: inline-block
//     .menu__item-icon
//         display: none

//     .menu__item-icon-2
//         display: inline-block
//         background-size: $line-height--root * .8
//         width:  $line-height--root * .8
//         height:  $line-height--root * .8
//         background-repeat: no-repeat
//         float: right

//     .global-pages
//         font-size: $font-size--body-small
//         @media (max-width: $responsive-views.lg.max-width)
//             border-top: $line--thin

//     @media (max-width: $responsive-views.lg.max-width)

//         .c-navigation__microsite-selectors
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: space-between
//             z-index: 3000
//             max-width: 100vh
//             overflow-y: scroll;

//         .c-navigation__microsite-selector
//             transition: 200ms

//             padding: $line-height--root * 1
//             width: 100%
//             background-color: rgba(white, 0.95)
//             z-index: 3000

//         .c-navigation__microsite-selector--accelerators
//             width: 100%
//             margin-top: $line-height--root * 1
//             margin-bottom: -5 * $line-height--root
//             z-index: 3000

//     @media (min-width: $responsive-views.lg.min-width)

//         .c-navigation__microsite-selectors
//             display: flex
//             justify-content: space-between
//             align-items: center
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             margin-right: -50%;
//             transform: translate(-50%, 50%)


//         .c-navigation__microsite-selector
//             transition: transform 200ms

//             transform: scale(1.0);
//             z-index: 4000
//             width: 33.333%
//             padding: $line-height--root * 1
//             margin-right:  $line-height--root * 0.5
//             margin-left:  $line-height--root * 0.5
//             background-color: rgba(white, 0.95)

//         .c-navigation__microsite-selector--accelerators
//             padding-top: $line-height--root * 10
//             // overflow-y: hidden


//     .c-navigation__microsite-selector-header
//         padding-bottom: 1 * $line-height--root
//         width: 100%

//         margin: 0

//         a
//             border-bottom: none

//     .c-navigation__microsite-selector-logo

//         text-align: center

//         .inline-svg
//             display: inline-block
//             height: 4 * $line-height--root
//             width: 100%
//             transition: transform .2s
//             transform: scale(1)

//             @media (max-width: $responsive-views.lg.max-width)
//                 display: none

//     h2
//         font-weight: bold
//     @media (min-width: $responsive-views.lg.min-width)
//         h2
//             display: none


//     .c-navigation__microsite-selector-tagline

//         display: none
//         font-size: $font-size--body-small
//         border-top: $line--thin
//         border-bottom: $line--thin
//         min-height: 4 *$line-height--root
//         padding-top: 0.5 * $line-height--root
//         padding-bottom: 0.5 * $line-height--root

//         @media (min-width: $responsive-views.lg.min-width)
//             font-size: $font-size--body-base


//     .c-navigation__microsite-selector-details

//         @media (min-width: $responsive-views.lg.min-width)
//             height: $line-height--root * 9


//         ul li a
//             display: block
//             padding-top: $line-height--root * .25
//             padding-bottom: $line-height--root * .25
//             padding: $line-height--root * .25 $line-height--root * .0

//         ul li a:hover
//             background-color: rgba(0,0,0,.1)




//     .c-navigation__microsite-selector:hover
//         cursor: pointer
//         transform: scale(1.05);



// .c-navigation__main .c-navigation__microsite-selector-tagline
//     @media (min-width: $responsive-views.lg.min-width)
//         display: block

