.site--kfb.page--candidates



    .candidate-profiles__selector
        make-md-column(4)

        padding-top: $line-height--root *0.5

        background-color: rgba(0,0,0,0.01)


        .candidate-profiles__selector-item.active
            opacity: 1
            background-color: rgba(0,0,0,0.1)

    .candidate-profiles__selector-item .cell
        line-height: $line-height--root
        border-top: $line--thin
        padding-top: $line-height--root*0.5
        padding-bottom: $line-height--root*0.5 - 2px
        height: 2 * $line-height--root
        text-overflow: ellipsis
        white-space: nowrap;
        overflow: hidden



    .candidate-profiles__selector-item
        transition: opacity 500ms
        opacity: 0.2
        background-repeat: no-repeat;
        background-size: $line-height--root*2
        height: $line-height--root*2
        text-overflow: ellipsis;

    .candidate-profiles__selector-item .cell
        padding-left: $line-height--root*3
        height: $line-height--root*2
        height: $line-height--root*2
        text-overflow: ellipsis;


    .candidate-profiles__selector:hover .candidate-profiles__selector-item
        opacity: .8



    .candidate-profiles__main
        make-md-column(8)


    candidate-profiles__profile.hidden
        display: none

    .candidate-profiles__profile.cell
        border-bottom: $line--thin


    .candidate-profiles__profile


        .portrait
            height: $line-height--root*6
            float: right

            margin-top: $line-height--root*2
            margin-left: $line-height--root*.5
            margin-bottom: $line-height--root*2


        .title
            display: inline;
            // font-size: $font-size--body-base
            line-height: $line-height--root
            font-weight: 700

        h2
            font-weight: 300
            margin: 0
            padding: 0

        h3
            margin-top: 1 * $line-height--root

        h3 + p, h3 + dl, h3 + ul
            margin-top: 0

        h2 + dl
            margin-top: 0
            dt
                display: block
            dt:after
                content: ""


        dl dt:before
            display: block
            content: " "
        dl dt:after
            content: ": "

        dl dt
            display: inline


        dl dd
            display: inline
