extends /_shared-jade/layout--kfb



block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "candidates"
    - var pagePath = "/kfb/kandidaten-2016/"

block title
    title KfB-Wahlen (beschleunigerphysik.de)


block page__header__main
    h1 Kandidaten
    p.subtitle Wahl 2016

block page__main
    mixin candidate_selector(candidate)
        - var slug = helpers.slugify(candidate['last-name'])
        .candidate-profiles__selector-item(class="candidate-profiles__selector-item--" + slug style="background-image:url(/_shared/images/portraits/2016_"+ slug + ".jpg)")
            a(href="#" + slug)
                .row
                    .col-xs-12
                        .cell #{candidate["first-name"]} #[strong #{candidate["last-name"]}], #[span.affiliation!= candidate.affiliation]


    .container
        - var elections = helpers.readYAML("./_source/content/kfb-elections/kfb-elections.yaml")

        each election in elections
            if (election.type === "announcement")
                .section.election-announcement
                    .section__header.content-font
                        .cell
                            h2!= election.title
                            p!= election.description

                    .section__main.content.candidate-profiles
                        #candidate-profiles__filter
                            .row
                                .candidate-profiles__selector
                                    .electoral-group.electoral-group--university
                                        .row
                                            .col-md-12.electoral-group-header
                                                .cell
                                                    h4.strong Universitäten
                                        .row
                                            .col-md-12.electoral-group-main
                                                each candidate in election.candidates["universities"]
                                                    +candidate_selector(candidate)


                                    .electoral-group.electoral-group--helmholtz
                                        .row
                                            .col-md-12.electoral-group-header
                                                .cell
                                                    h4.strong Helmholtz-Zentren
                                        .row
                                            .col-md-12.electoral-group-main
                                                each candidate in election.candidates["helmholtz"]
                                                    +candidate_selector(candidate)

                                    .electoral-group.electoral-group--abroad
                                        .row
                                            .col-md-12.electoral-group-header
                                                .cell
                                                    h4.strong Ausländische Institute
                                        .row
                                            .col-md-12.electoral-group-main
                                                each candidate in election.candidates["abroad"]
                                                    +candidate_selector(candidate)

                                    .electoral-group.electoral-group--non_helmholtz_germany
                                        .row
                                            .col-md-12.electoral-group-header
                                                .cell
                                                    h4.strong Sonstige deutsche Institute
                                        .row
                                            .col-md-12.electoral-group-main
                                                each candidate in election.candidates["others"]
                                                    +candidate_selector(candidate)


                                .candidate-profiles__main.content
                                    //- each candidate in election.candidates["universities"]
                                    //-     - var slug = helpers.Stringjs(candidate['last-name']).slugify()
                                    //-     - var filename = "profiles" + slug + "-2016.md"
                                    //-     .candidate-profiles__profile.row(class="candidate-profiles__profile-#{slug}" id="#{slug}")
                                    //- include:supermarkdown(#{filename})

                                    #boine-frankenheim.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/boine-frankenheim-2016.md

                                    #hillert.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/hillert-2016.md

                                    #kaluza.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/kaluza-2016.md

                                    #khan.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/khan-2016.md

                                    #maier.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/maier-2016.md

                                    #weiland.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/weiland-2016.md

                                    #assmann.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/assmann-2016.md

                                    #kamps.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/kamps-2016.md

                                    #lehrach.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/lehrach-2016.md

                                    #meseck.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/meseck-2016.md

                                    #mueller.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/mueller-2016.md

                                    #osterhoff.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/osterhoff-2016.md

                                    #prasuhn.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/prasuhn-2016.md

                                    #tecker.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/tecker-2016.md

                                    #peters.cell.candidate-profiles__profile
                                        include:supermarkdown ../../../content/kfb-elections/2016/peters-2016.md

block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.KfBElectionsRunner();}) 
