
// .page--statute h2[data-outline]:before
//     content:  attr(data-outline) ": "
//     display: inline
//     // for $viewname, $view in $responsive-views
//     //     @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
//     //         font-size: $view["font-size"]
//     //         line-height: $view["baseline-height"]
//     //         $offset = (3 - 0.725) * $view["font-size"]  * 0.5
//     //         position: relative
//     //         top: $offset;
//     color: $kfb_gray
//     font-weight: 400

.page--statute h2
    padding-bottom: 1rem

.page--statute 
    p + h2,
    ol + h2,
    ul + h2
        margin-top: 4rem


.page--statute h2::before
    $grid-border-top($line-width--thin)

.page--statute h2::after
    $grid-border-bottom($line-width--thick)


// .page--statute h2
//     margin-top: 5rem
 