extends /_shared-jade/layout--kfb

block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "statute"
    - var pagePath = "/kfb/satzung/"



block page__header__main

    h1 Satzung
    p.subtitle des Komitees für Beschleunigerphysik


block page__main
    .container

        .grid
            .grid__row

                .grid__item--md-8
                    .content

                        include:supermarkdown kfb-statute.md

                .grid__item--md-4
                    .content
                        ul.toc-2
                            li
                                a(href="#praeambel") Präambel
                            li
                                a(href="#artikel-1") 1. Zweck und Aufgaben
                            li
                                a(href="#artikel-2") 2. Zusammensetzung
                            li
                                a(href="#artikel-3") 3. Forum Beschleunigerphysik
                            li
                                a(href="#artikel-4") 4. Wahlverfahren
                            li
                                a(href="#artikel-5") 5. Sitzungsfolge, Protokoll, Beschlussfähigkeit
                            li
                                a(href="#artikel-6") 6. Kosten
                            li
                                a(href="#artikel-7") 7. Satzungsänderung