noscript
    p
        img(src='https://piwik.beschleunigerphysik.de/piwik.php?idsite=1', alt='', style='border:0;')

script(src="/_shared/scripts/kfb--webpacked.js" defer)
script.
    window.addEventListener('load', function () {AcceleratorsLibrary.init();}) 
