extends /_shared-jade/layout

block bodyClassVars
    - var siteName = "accelerators"

block body_

    .page(class = "site--" + siteName + " page--" + pageName + ((additionalBodyClass) ? " " + additionalBodyClass : ""))
        .background
        block page__navigation
            != navigation().replace(/NEXT_URL/, helpers.getSitemap().next(pagePath).url)


        block page__header
            .page__header
                .container
                    .grid
                        .grid__row
                            .grid__item--xs-12
                                block page__header__main
                                    if (meta)
                                        h1!= meta.header_title
                                        if meta.header_subtitle
                                            .sep
                                            p.subtitle!= meta.header_subtitle

        .page__main

            block page__main

        script(src="/_shared/scripts/accelerators--webpacked.js" defer)
        script.
            document.addEventListener("DOMContentLoaded", function () {
            AcceleratorsLibrary.init();
            });
