
include /_mixins/lorem
include /_mixins/highlight
include /_mixins/dateFormat
include /_mixins/translate
include /_mixins/meeting
include /_mixins/box
include /../components/c-event/c-event
include /../components/c-news-item/c-news-item
include /../components/c-site-overview/c-site-overview
include /../components/c-badge/c-badge


include /accelerators/accelerators__story-section.pug

block bodyClassVars
    - var pageName = meta.name

- var meta = helpers.getSitemap().pageMap.get(pagePath); 

doctype html
html(lang="de")

    head
        meta(charset="utf-8")
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="Webangebot des Kommitees für Beschleunigerphysik und des Forum Beschleunigerphysik")
        link(href="/_shared/css/accelerators.css", rel="stylesheet")
        link(href="/_shared/css/fonts.css", rel="stylesheet")
        link(href=helpers.getSitemap().next(pagePath).url, rel="next")

        block title
            title!= (meta ? meta.title : "XXX") + " (beschleunigerphysik.de)"

        link(href="/_shared/images/favicon.png", rel="icon")


    body.accelerators

        .page(class = "site--" + siteName + " page--" + pageName + ((additionalBodyClass) ? " " + additionalBodyClass : ""))

            .accelerators__story-navigation-container
                ul.accelerators__story-navigation-list
                    li.accelerators__story-navigation-list-item
                        a.accelerators__story-navigation-link(href="/beschleuniger/") Intro
                    li.accelerators__story-navigation-list-item
                        a.accelerators__story-navigation-link(href="/beschleuniger/was-womit-wozu/") Was womit wozu?
                    li.accelerators__story-navigation-list-item
                        a.accelerators__story-navigation-link(href="/beschleuniger/funktionsweise/") Funktionsweise
                    li.accelerators__story-navigation-list-item
                        a.accelerators__story-navigation-link(href="/beschleuniger/weltweite-zusammenarbeit/") Weltweite Zusammenarbeit
                    li.accelerators__story-navigation-list-item
                        a.accelerators__story-navigation-link(href="/beschleuniger/atlas/") Beschleunigerphysik in Deutschland

            .page__frame
                .page__frame-top
                .page__frame-right
                .page__frame-bottom
                .page__frame-left

            .page__main

                block page__main



                noscript
                    p
                        img(src='https://piwik.beschleunigerphysik.de/piwik.php?idsite=1', alt='', style='border:0;')
                if (build_target === "dev")
                    script(src="/_shared/scripts/dev/d3.min.js")
                    script(src="/_shared/scripts/dev/d3tip.js")
                    script(src="/_shared/scripts/dev/topojson.min.js")
                    script(src="/_shared/scripts/dev/jquery.min.js" )
                    //- script(src="/_shared/scripts/dev/head-up-grid-lib.js")
                    //- script(src="/_shared/scripts/dev/head-up-grid-config.js")
                    //- link(href="/_shared/css/dev/head-up-grid.css", rel="stylesheet")

                script(src="/_shared/scripts/accelerators--webpacked.js" defer)
                script.
                    var _paq = _paq || [];
                    _paq.push(['trackPageView']);
                    _paq.push(['enableLinkTracking']);
                    window.addEventListener('load', function() {
                        var u="https://piwik.beschleunigerphysik.de/piwik/";
                        _paq.push(['setTrackerUrl', u+'piwik.php']);
                        _paq.push(['setSiteId', 1]);
                        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
                    });


                block script_