extends /_shared-jade/layout

block bodyClassVars
    - var siteName = "kfb"

block body_

    //- #barba-wrapper
    //-     .barba-container

    .page(class = "site--" + siteName + " page--" + pageName + ((additionalBodyClass) ? " " + additionalBodyClass : ""))

        != navigation().replace(/NEXT_URL/, helpers.getSitemap().next(pagePath).url)

        block page__header
            .page__header
                .container
                    .grid
                        .grid__row
                            .grid__item--md-6
                                .page__header__logo
                                    .svg__inline.svg__signet--kfb
                            .grid__item--md-6
                                .page__header__main
                                    block page__header__main

        .page__main
            block page__main

        if (build_target === "dev")
            .c-grid-overlay-horizontally &nbsp;
            .c-grid-overlay-vertically &nbsp;
            .c-grid-overlay__viewname
                .hidden.visible--xs XS
                .hidden.visible--md MD
                .hidden.visible--lg LG
                .hidden.visible--xl XL


    script.
        document.addEventListener("DOMContentLoaded", function () {
            AcceleratorsLibrary.init(); 
        }); 
        
        if (window.Barba) {
            Barba.Dispatcher.on('newPageReady', function(currentStatus, oldStatus, container) {
                AcceleratorsLibrary.init();
            });
            }