.privacy
    .container
        .row
            .col-md-8.small
                p Sie können dieses Webangebot uneingeschränkt nutzen, ohne dass wir Ihr Nutzungsverhalten auswerten (= #[span.no-cookies keine Cookies]). Falls Sie uns jedoch die Erlaubnis erteilten, browserbezogene Nutzungsdaten zu speichern und auszuwerten, könnten wir dadurch dieses Webangebot verbessern und Sie müssten nicht auf jeder Webseite diese Nachricht sehen.
    
            .col-md-4.small
                p Speicherung und Auswertung des browserbezogenen Nutzungsverhaltens
                input(class="bootstrap-toggle", type='checkbox', data-toggle='toggle', data-on='erlauben', data-off='nicht erlauben', data-onoffstyle='success', data-offstyler='danger', name='privavcy', data-size="small", data-width='200')
