extends /_shared-jade/layout--accelerators


block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__brochure"
    - var pagePath = "/beschleuniger/broschuere/"


block page__main


    .container
        .grid
            .grid__row
                .grid__item--md-12
                    .content

                        h2 Beschleuniger
                        p für Teilchen, Wissen und Gesellschaft
            .grid__row
                .grid__item--md-12
                    .content

                        :supermarkdown
                            Die KfB-Broschüre »Beschleuniger für Teilchen, Wissen und Gesellschaft« gibt Einblicke in das, was die Beschleunigungsphysik bewegt. Auf 56 Seiten informiert das KfB über die Funktionsweise von Beschleunigern und zeigt auf, was diese Anlagen für Wissenschaft und Gesellschaft bedeuten. Das Heft richtet sich vornehmlich an die interessierte Öffentlichkeit, Schülerinnen und Schüler, Studierende sowie Entscheidungs­träger in Politik und Wirtschaft.

                        :supermarkdown

                            Version 1.1 (1. August 2016): Diese Version enthält gegenüber der Druckversion vom 15. Februar 2016 u. @ a. eine bessere Einbeziehung der Europäischen Synchrotronstrahlungsquelle ESRF. <!--{.small}-->

                            [**Laden Sie unsere Broschüre kostenlos herunter!**<br>(32 Megabyte)](https://www.dropbox.com/s/qa9ikmp7cff11op/kfb-broschuere_1.2.2_2016-08-26_web.pdf?dl=0)<!--{p:.call-for-action}-->
            .grid__row
        

                .grid__item--md-4
                    .page--left &nbsp;
                    .page--right
                        img(src="/_shared/images/brochure-pages-200px/page-01.jpg" alt="Vorschaubild von Seite 1")
                - var n = 2
                while n <= 54
                    .grid__item--md-4
                        .page--left
                            img(src="/_shared/images/brochure-pages-200px/page-" + ((n<10) ? "0" : "")  + n + ".jpg" alt="Vorschaubild von Seite #{n}")
                        .page--right
                            img(src="/_shared/images/brochure-pages-200px/page-" + ((n+1<10) ? "0" : "")  + (n+1) + ".jpg" alt="Vorschaubild von Seite #{n}")
                    - n = n + 2
                .grid__item--md-4
                    .page--left
                        img(src="/_shared/images/brochure-pages-200px/page-56.jpg" alt="Vorschaubild von Seite #{n}")
                    .page--right
