.page--brochure

    .call-for-action
        background-color: $kfb_blue
        color: white
        margin-top: $line-height--root * 1
        padding: $line-height--root
        text-align: center

        a
            color: white

    .spreads
        padding-top: $line-height--root * 0
        make-row()

    .spread
        make-md-column(3)
        make-sm-column(4)
        make-xs-column(6)
        padding-bottom: $line-height--root * .5
        padding-top: $line-height--root * .5
        text-align: center
        white-space: nowrap

        .page--left, .page--right
            display: inline-block
            width: 120px

        img
            border: 1px solid gray
            width: 120px
