extends /_shared-jade/layout--kfb

block title
    title Beschleuniger 2016 / Broschüre


block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "brochure"
    - var pagePath = "/beschleuniger/broschuere/"


block page__header__main
    h1 Broschüre
    p.intro zur beschleunigerphysik


block page__main

    .container.content-font
        section.page__main__section

            header.page__main__section__header
                .row
                    .col-xs-12
                        .cell
                            h2 Beschleuniger
                            p für Teilchen, Wissen und Gesellschaft

            .page__main__section__main
                .row
                    .col-md-6
                        .cell
                            :supermarkdown
                                Die KfB-Broschüre »Beschleuniger für Teilchen, Wissen und Gesellschaft« gibt Einblicke in das, was die Beschleunigungsphysik bewegt. Auf 56 Seiten informiert das KfB über die Funktionsweise von Beschleunigern und zeigt auf, was diese Anlagen für Wissenschaft und Gesellschaft bedeuten. Das Heft richtet sich vornehmlich an die interessierte Öffentlichkeit, Schülerinnen und Schüler, Studierende sowie Entscheidungs­träger in Politik und Wirtschaft.

                    .col-md-6
                        .cell
                            :supermarkdown

                                Version 1.1 (1. August 2016): Diese Version enthält gegenüber der Druckversion vom 15. Februar 2016 u. @ a. eine bessere Einbeziehung der Europäischen Synchrotronstrahlungsquelle ESRF. <!--{.small}-->

                                [**Laden Sie unsere Broschüre kostenlos herunter!**<br>(32 Megabyte)](https://www.dropbox.com/s/jhlib3hlpovkxln/kfb-broschuere_1.2.3_2016-03-03_web.pdf?dl=0)<!--{p:.call-for-action}-->

        .spreads
            .spread
                .page--left &nbsp;
                .page--right
                    img(src="/_shared/images/brochure-pages-200px/page-01.jpg" alt="Vorschaubild von Seite 1")
            - var n = 2
            while n <= 54
                .spread
                    .page--left
                        img(src="/_shared/images/brochure-pages-200px/page-" + ((n<10) ? "0" : "")  + n + ".jpg" alt="Vorschaubild von Seite #{n}")
                    .page--right
                        img(src="/_shared/images/brochure-pages-200px/page-" + ((n+1<10) ? "0" : "")  + (n+1) + ".jpg" alt="Vorschaubild von Seite #{n}")
                - n = n + 2
            .spread
                .page--left
                    img(src="/_shared/images/brochure-pages-200px/page-56.jpg" alt="Vorschaubild von Seite #{n}")
                .page--right
