
.d3tip
    background-color: rgba(255, 255, 255, .9)
    font-size: $font-size--body-small
    padding: 7px


.page--kfb__homepage  .c-kfb-forum-chart

    background-color: rgba($kfb_gray, .05)
    height: 18rem


    margin-right: -50em

    line.affiliation
        stroke: $kfb_gray
        stroke-width: 3

    .node
        stroke-width: 0
        transition: opacity 300ms

    .node--organisation
        fill-opacity: 1
        stroke-opacity: .8
        stroke-width: 2
        stroke: white

    .node--person
        fill-opacity: 1
        stroke-opacity: .8
        stroke-width: 2
        stroke: white


    .node--university
        fill: $color_university
        // stroke: $color_university

    .node--helmholtz
        fill: $color_helmholtz
        // stroke: $color_helmholtz

    .node--abroad
        fill: $color_abroad

    .node--others
        fill: $color_others
        // stroke: $color_others


    .country
        fill-opacity: .5
        fill: $kfb_gray
        stroke-opacity: .5
        stroke-width: 2px
        stroke: white

    .bundesland
        fill-opacity: .08
        fill: $kfb_gray
        stroke-opacity: .3
        stroke-width: 1px
        stroke: white

.electoral-group-universities--selected
    .node--university
        opacity: 1

    .node--helmholtz
        opacity: .2

    .node--abroad
        opacity: .2

    .node--others
        opacity: .2


.electoral-group-helmholtz--selected
    .node--university
        opacity: .2

    .node--helmholtz
        opacity: 1

    .node--abroad
        opacity: .2

    .node--others
        opacity: .2


.electoral-group-abroad--selected
    .node--university
        opacity: .2

    .node--helmholtz
        opacity: .2

    .node--abroad
        opacity: 1

    .node--others
        opacity: .2


.electoral-group-others--selected
    .node--university
        opacity: .2

    .node--helmholtz
        opacity: .2

    .node--abroad
        opacity: .2

    .node--others
        opacity: 1

.page--kfb__homepage .content

    li.electoral-group-universities,
    li.electoral-group-abroad,
    li.electoral-group-others,
    li.electoral-group-helmholtz
        // border-bottom: dashed 1px $kfb_gray_light
        // background-color: rgba($kfb_gray_light, .2)
        cursor: pointer
        list-style: none
        position: relative

        &:hover
            background-color: rgba($kfb_gray_light, .2)

        // &:before
        //     content: " "
        //     display: inline-block
        //     height: $line-height--root * .5
        //     left: $line-height--root * .25
        //     margin-right: 1em
        //     margin-top: .35em
        //     position: absolute
        //     width: $line-height--root * .5



    // li.electoral-group-universities:before
    //     background-color: rgba($color_university, 1)
    //     border: white 2px solid

    // li.electoral-group-abroad:before
    //     background-color: rgba($color_abroad, 1)
    //     border: white 2px solid

    // li.electoral-group-others:before
    //     background-color: rgba($color_others, 1)
    //     border: white 2px solid

    // li.electoral-group-helmholtz:before
    //     background-color: rgba($color_helmholtz, 1)
    //     border: white 2px solid
