@import kfb__homepage
@import "./elections/kfb-elections.styl"
@import "./candidates/candidates.styl"
@import "./meetings/kfb-meetings.styl"
@import "./statute/kfb-statute.styl"


.site--kfb, .site--forum
    section
        margin-bottom: 4rem
        // min-height: 100vh

.page--homepage .page__main 
    padding-top: 50vh


h2.grid__item-list-title
    padding-top: 1rem
    padding-bottom: 1rem

h2.grid__item-list-title::before
    $grid-border-top()


h2.grid__item-list-title::after
    $grid-border-bottom()


.page--homepage .container .grid__item
    background-color: rgba(white, 0.9)

.page--homepage .container .grid__item .grid__item
    background-color: transparent


.page--homepage 
    background-image: url(/_shared/images/ribbons-1.png)
    background-size: 100vw 100vh
    background-repeat: no-repeat
    // background-position: left -70%


section.ribboned
    min-height: 100vh
    position: relative

section.ribboned::before
    position: absolute
    content: " "
    top: -7rem
    left: -20%
    background-size: 100% 10rem 
    height: 10rem
    width: 120vw
    background-image: url(/_shared/images/ribbons-short-1.png)
    background-repeat: no-repeat
    background-position: left 0%
    z-index: -100

section.ribboned-1::before
    background-image: url(/_shared/images/ribbons-short-2.png)
    background-position: left 100%
    background-size: 100% 10rem 
    height: 10rem

section.ribboned-2::before
    background-image: url(/_shared/images/ribbons-short-3.png)
    background-position: left 30%
    background-size: 100% 10rem 
    height: 10rem

.page--forum__homepage
section.ribboned::before
    position: absolute
    content: " "
    top: -7rem
    left: -20%
    background-size: 100% 10rem 
    height: 10rem
    width: 120vw
    background-image: url(/_shared/images/ribbons-short-1.png)
    background-repeat: no-repeat
    background-position: left 0%
    z-index: -100

section.ribboned-1::before
    background-image: url(/_shared/images/ribbons-short-2.png)
    background-position: left 100%
    background-size: 100% 10rem 
    height: 10rem

section.ribboned-2::before
    background-image: url(/_shared/images/ribbons-short-3.png)
    background-position: left 30%
    background-size: 100% 10rem 
    height: 10rem
 
.page--mathbox
    display: none

.mathbox-overlays
    position: absolute;
    top: 0
    left: 0
    background-color: red;