extends /_shared-jade/layout--kfb


block title
    title KfB (beschleunigerphysik.de)


block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "kfb__homepage"
    - var pagePath = "/kfb/"


block page__header__main

    h1 Komitee 
    p.subtitle für Beschleunigerphysik


block page__main

    .container

        section.ribboned
            .grid__row.grid__row-3d
                .grid__item.grid__item--header
                    .content
                        h2 Wer und wozu?

            .grid__row
                .grid__item--md-6
                    .content.content--padded-top

                        :supermarkdown
                            Die zwölf Mitglieder des <span class="komitee-fuer-beschleunigerphysik">Komitees für Beschleunigerphysik</span> **(<span class="KfB">KfB</span>)** vertreten die Gemeinschaft der deutschen Beschleuniger&shy;physikerinnen und <span class="nowrap">-physiker</span> gegenüber politischen und wissenschaftlichen Organisationen sowie der Öffentlichkeit.

                            Damit repräsentiert das KfB über 800 Personen, die im Bereich der Beschleunigerphysik beschäftigt sind, und zwar

                            * an deutschen Universitäten,<!--{li:.electoral-group-selector .electoral-group-universities data-selector="universities"}-->
                            * an Helmholtz-Zentren,  <!-- {li:.electoral-group-selector .electoral-group-helmholtz data-selector="helmholtz"} -->
                            * an sonstigen deutschen Forschungsinstituten oder  <!-- {li:.electoral-group-selector .electoral-group-others data-selector="others"} -->
                            * an ausländischen Instituten mit deutscher Beteiligung  <!--{li:.electoral-group-selector .electoral-group-abroad data-selector="abroad"}-->

                            Rund 400 davon gehören dem <span class='forum-beschleunigerphysik'>[Forum Beschleunigerphysik](/forum/)</span> an, das die Komitee-Mitglieder aus seinen Reihen wählt.


                .grid__item--md-6.hidden--xs
                    .content

                        figure.c-kfb-forum-chart__figure
                            .tooltip
                            .c-kfb-forum-chart
                                include forum-members.svg
                            figcaption Jeder Kreis steht für ein Mitglied des #[span.forum-beschleunigerphysik Forum Beschleunigerphysik].



        section.content.ribboned.ribboned-1
            .grid__row
                .grid__item.grid__item--header
                    h2 Was leistet das #[span.KfB KfB]?

            .grid__row
                .grid__item--md-6
                    .content.content--padded-top
                        :supermarkdown
                            ### Unsere Ziele
                            
                            Wir sind **Ansprechpartner** für Politik, Industrie und Medien, wenn diese mit "der deutschen Beschleunigerphysik" sprechen möchten.

                            Wir **nehmen Stellung** zu Themen, bei denen wir denken, dass die Beschleunigerphysik-Gemeinschaft etwas beizutragen hat.

                            **Wir fördern den Kontakt** innerhalb der wissenschaftlichen Gemeinschaft der deutschen Beschleunigerphysik; etwa durch die Organisation regelmäßige Treffen des <span class='forum-beschleunigerphysik'>[Forum Beschleunigerphysik](/forum/)</span>.

                .grid__item--md-6
                    .content.content--padded-top
                    
                        :supermarkdown
                            ###  Einige unserer Projekte
                            
                            Derzeit planen wir die Einführung eines **Beschleunigerphysikpreises**.

                            Mit dem Angebot "**Beschleuniger - für Teilchen, Wissen und Gesellschaft**" informieren wir in <a href="/beschleuniger/broschuere">Printform</a> und demnächst auch im Web über die Möglichkeiten der Beschleunigerphysik.


        section.content.ribboned.ribboned-2
            .grid__row
                .grid__item.grid__item--header
                    .content
                        h2 Mitglieder der 3. Wahlperiode

            .grid__row
                
                .kfb-members
                    - var kfb_members = helpers.readYAML("_source/content/kfb-members-4.yaml")
                    each member in kfb_members
                        .kfb-member
                            .media
                                .photo(style="background-image: url(/_shared/images/portraits/" + member.img + ")")

                            .info.content--tight
                                .kfb-member__function!= member['function'] + "&nbsp;"
                                
                                .kfb-member__name #[.kfb-member__academic-title!= member['academic-title']+"&nbsp;"] #[.kfb-member__full-name #{member['fist-name']} #{member['last-name']}]
                                .kfb-member__affiliation= member['affiliation']
                                .kfb-member__email-address #[a(title="E-Mail" href="mailto:" + member['email-address']) #{member['email-address']}]
                                .kfb-member__electoral-group
                                    +c-badge(member['group'])


block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.KfBHomeRunner();}) 


