@import kfb-and-forum-members-map

.site--kfb, .site--forum


    .c-kfb-forum-chart__figure
        perspective: 600px
    
    .c-kfb-forum-chart
        transform: rotateY(-15deg)
        height: 100vh

        svg
            height: 100vh
        




    .kfb-members
        display: flex
        flex-direction: row
        flex-wrap: wrap
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                margin-left: -1 * $view["grid-column-gutter"]

    .kfb-member
        // background-color: rgba(black,0.05)
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $width = $view["grid-column-gutter"]
                width: "calc(50% - %s)" % $width
                margin-left: $view["grid-column-gutter"]

        display: flex
        flex-direction: row

        margin-bottom: 1rem


        .media

            flex: 1
            min-height:  6rem

            .photo
                height:  6rem
                background-repeat: no-repeat;
                background-size: cover
                padding: 0

                overflow: hidden


        .info
            flex: 2

            for $viewname, $view in $responsive-views
                @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                    padding: 0 $view["grid-column-padding"]
                    margin-left: $view["grid-column-gutter"]



        .kfb-member__function,
        .kfb-member__affiliation
        .kfb-member__email-address,
        .kfb-member__electoral-group
            for $viewname, $view in $responsive-views
                @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                    $typesetting-declarations($view, -1, 1)

        .kfb-member__name
            $content-h4-declarations()

        .kfb-member__academic-title, .kfb-member__full-name
            display: block

        .kfb-member__academic-title
            font-weight: 300

        .c-badge:before
            content "Wahlkreis: "

