
svg {
    background-color: rgba(0,0,0,.1);
}
line,
line.horizontalGrid,
line.baseline {
    stroke: rgba(0,0,0,.5);
    stroke-width: .5px;
}
line.columnSub {
    stroke-width: .5px;
    stroke: rgba(0,0,0,.1);
}
line.pageMarginVertical {
    stroke-width: 2px;
    stroke: red;
}
