


.accelerators__section-ribbbon
    position: absolute

    border-top: .25rem solid white
    border-bottom: .25rem solid white
    box-shadow: 1px 1px 10px black
    width: 100vw
    height: 25vmax
    display: flex
    bottom: calc(50vh)
    // bottom: -25vh
    left: 0
    z-index: 10000

.accelerators__section-ribbbon-element
    flex: 2
    background-image: url(/_shared/images/accelerators/background__homepage.jpg)
    background-position: center center
    background-size: cover
    height: 100%
    border: .5rem solid white
    

.accelerators__section-ribbbon-element:nth-child(1)
    flex: 6
    border-left: none
    background-size: auto 100%
.accelerators__section-ribbbon-element:nth-child(2)
    flex: 12
    background-size: auto 150%
.accelerators__section-ribbbon-element:nth-child(3)
    flex: 18
    border-right: none
    background-size: auto 200%




//     background-image: url("/_shared/images/accelerators/backgrounds/background__atlas.jpg")

// .accelerators__section--what_how_wherefore .accelerators__section-ribbbon-element
//     background-image: url("/_shared/images/accelerators/backgrounds/background__what_how_wherefore.jpg")

// .accelerators__section--operating-principle .accelerators__section-ribbbon-element
//     background-image: url("/_shared/images/accelerators/backgrounds/background__operating-principle.jpg")

// .accelerators__section--linking-nations .accelerators__section-ribbbon-element
//     background-image: url("/_shared/images/accelerators/backgrounds/background__linking-nations.jpg")
