
// .accelerators__story-stage
//     position: absolute
//     top: 0
//     left: 0rem
//     z-index: 0
//     width: calc(100vw - 4rem)
//     height: calc(100vh - 4rem)
//     // height: 100%
//     background-color: rgba(red, 0.1)


// .accelerators__story-section-body,
// .accelerators__story-section-header
//      position: relative

.accelerators__story-subsection
     transition: opacity 100ms


.scroller-section--future
    opacity: .1


.scroller-section--active
    opacity: 1


// .graph-scroll-fixed
//     position: fixed
//     top: 1rem
//     left: 2rem


// .graph-scroll-below
//     bottom: 0rem
//     top: inherit

