mixin story-section($section)
    section.accelerators__page-section(id=$section.name)
        if ($section.title)
            header.accelerators__page-section-header
                h2.accelerators__page-section-title!= helpers.supermarkdownInline($section.title)
                if ($section.subtitle)
                    .accelerators__page-section-header-break
                    p.accelerators__page-section-subtitle!= helpers.supermarkdownInline($section.subtitle)
                .cta--scroll.svg__icon--scroll-down
                    
        .accelerators__page-section-body
            each $subsection in ($section.sections || [])
                section.accelerators__page-subsection(class=$subsection.class data-stage-step="" + $subsection.name)
                    header.accelerators__page-subsection-header
                        if ($subsection.title)
                            h3.accelerators__page-subsection-title!= helpers.supermarkdownInline($subsection.title)
                    if ($subsection.body)
                        .accelerators__page-subsection-body
                            != helpers.supermarkdown($subsection.body)
                    //- each $subsubsection in ($subsection.sections || [])
                    //-     section.accelerators_page-subsubsection(class=".accelerators__story-subsubsection--" + $subsubsection.name data-stage-step="" + $subsubsection.name)
                    //-         if ($subsubsection.title)
                    //-             h4.accelerators__page-subsubsection-title!= helpers.supermarkdownInline($subsubsection.title)
                    //-         if ($subsubsection.body)
                    //-             .accelerators__page-subsubsection-body
                    //-                 != helpers.supermarkdown($subsubsection.body)