
.accelerators__homepage
    height: 100vh
    padding: 4rem
    margin: -2rem
    background-image: url(/_shared/images/accelerators/background__homepage--blurred.jpg)
    background-size: cover
    display: flex
    flex-direction: column
    justify-content: center
    text-align: left
    padding-top: calc(50vh  + 2rem)
    padding-left: 10rem
    

h1.accelerators__homepage-title

    font-size: 7vw
    line-height: 7vw

    text-transform: uppercase
    font-weight: 900
    font-style: italic
    letter-spacing: .05em
    margin-right: -6rem

    color: white

    .letter
        display: inline-block
        position: relative

    .letter:before
        content: attr(data-content)
        position: absolute
        opacity: .2

    .letter:after
        content: attr(data-content)
        position: absolute
        opacity: .4

$letter-exponent = 4
$letter-base = .00001

for num in (1..15)
    .letter:nth-child({num})
        padding-left: (num ** $letter-exponent) * $letter-base * 1em
    
    .letter:nth-child({num}):before
        left: 0;//((num - 2) ** $letter-exponent) * $letter-base * 1em 

    .letter:nth-child({num}):after
        left: ((num - 3) ** $letter-exponent) * $letter-base * 1em



p.accelerators__homepage-subtitle,
p.accelerators__homepage-author
    // background-color: $kfb_gray;
    // display: inline
    // box-decoration-break: clone
    color: white
    font-weight: 500
    white-space: nowrap
    overflow: hidden
    font-style: italic

    font-size: 3.5vw
    line-height: 4vw

p.accelerators__homepage-author
    font-style: normal
    font-size: 2.5vw
    // font-size: 2vw
    // font-weight: 200



// .story-label
//     margin: 0 .25rem
    
//     span
//         background-color: rgba(white, 0.4)
//         box-decoration-break: clone
//         color: black
//         padding: 0rem .25rem
//         margin: 0 -.25rem

// .accelerators__story strong
//         background-color: rgba(white, 0.4)
//         box-decoration-break: clone
//         color: black
//         padding: 0rem .25rem
//         margin: 0 -.25rem



