



.accelerators__page-section-header
    position: relative
    margin-bottom: 6rem
    z-index: 100
    max-width: 75%
    padding-top: 2rem
    min-height: 100vh




h2.accelerators__page-section-title

    text-transform: uppercase
    font-weight: 900
    font-style: italic

    background-color: $kfb_blue
    display: inline
    box-decoration-break: clone
    color: white
    padding: 0rem .5rem
    padding-left: 2rem
    margin-left: -2rem
    margin-right: -4rem
    letter-spacing: .05em

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 4, 3)

.accelerators__page-section-header-break
    // margin-top: -.3rem
    // height: .1rem

p.accelerators__page-section-subtitle

    background-color: white
    display: inline
    box-decoration-break: clone
    color: black
    padding-left: 2rem
    margin-left: -2rem
    margin-right: -4rem
    margin-bottom: 1rem
    letter-spacing: .05em
    font-weight: 700

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 2, 2, 0.5)
            padding-top: .25rem
            padding-bottom: .25rem
            padding-right .25rem

            


.cta--scroll
    width: 8rem
    height: 8rem
    background-size: 100%
    margin: 0 auto
    position: absolute
    bottom: 5rem
    left: 0rem; //calc(50% - 2.5rem)
    opacity: .5