extends /_shared-jade/layout--accelerators


block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__homepage"
    - var pagePath = "/beschleuniger/"


block title
    title Beschleuniger


block page__main

    //- - var $story = helpers.readYAML("_source/site/accelerators/accelerators__story.yaml")
    //- .accelerators__story

    .accelerators__homepage
        .accelerators__section-ribbbon
            .accelerators__section-ribbbon-element
            .accelerators__section-ribbbon-element
            .accelerators__section-ribbbon-element
        //- h1.accelerators__story-title!= helpers.supermarkdownInline($story.title)
        h1.accelerators__homepage-title #[span.letter(data-content="B") B]#[span.letter(data-content="e") e]#[span.letter(data-content="s") s]#[span.letter(data-content="c") c]#[span.letter(data-content="h") h]#[span.letter(data-content="l") l]#[span.letter(data-content="e") e]#[span.letter(data-content="u") u]#[span.letter(data-content="n") n]#[span.letter(data-content="i") i]#[span.letter(data-content="g") g]#[span.letter(data-content="e") e]#[span.letter(data-content="r") r]

        p.accelerators__homepage-subtitle!= helpers.supermarkdownInline("für Teilchen, Wissen und Gesellschaft")
        p.accelerators__homepage-author Komittee für Beschleunigerphysik

                //- each $section in $story.sections

                //-     section.accelerators__story-section(id=$section.name)
                //-         .accelerators__story-stage(id="accelerators__story-stage--" + $section.name)
                //-             svg


                //-         if ($section.title)
                //-             header.accelerators__story-section-header
                //-                 h2.accelerators__story-section-title!= helpers.supermarkdownInline($section.title)
                //-                 if ($section.subtitle)
                //-                     .accelerators__story-section-header-break
                //-                     p.accelerators__story-section-subtitle!= helpers.supermarkdownInline($section.subtitle)
                //-         .accelerators__story-section-body
                //-             each $subsection in ($section.sections || [])
                //-                 section.accelerators__story-subsection(class=$subsection.class data-stage-step="" + $subsection.name)
                //-                     header.accelerators__story-subsection-header
                //-                         if ($subsection.title)
                //-                             h3.accelerators__story-subsection-title!= helpers.supermarkdownInline($subsection.title)
                //-                     if ($subsection.body)
                //-                         .accelerators__story-subsection-body
                //-                             != helpers.supermarkdown($subsection.body)
                //-                     each $subsubsection in ($subsection.sections || [])
                //-                         section.accelerators__story-subsubsection(class=".accelerators__story-subsubsection--" + $subsubsection.name data-stage-step="" + $subsubsection.name)
                //-                             if ($subsubsection.title)
                //-                                 h4.accelerators__story-subsubsection-title!= helpers.supermarkdownInline($subsubsection.title)
                //-                             if ($subsubsection.body)
                //-                                 .accelerators__story-subsubsection-body
                //-                                     != helpers.supermarkdown($subsubsection.body)
                                
                //-         if $section.name == "what-whereby-wherefore"
                //-             - var $www = helpers.readYAML("_source/site/accelerators/what-whereby-wherefore/accelerators__what_whereby_wherefore.yaml")
                //-             ol.what-whereby-whatfore__chart

                            //- ol.what-whereby-whatfore__data
                            //-     each $step in $www.steps
                            //-         li.what-whereby-whatfore__step
                            //-             .what-whereby-whatfore__step-title!= $step.title
                            //-             .what-whereby-whatfore__step-description!= $step.description
                            //-             ul
                            //-                 each $option in $step.options
                            //-                     li(id=$option.name class="what-whereby-whatfore__option")
                            //-                         .what-whereby-whatfore__option-title!= $option.title 
                            //-                         .what-whereby-whatfore__option-description!= $option.description 



                        //- .accelerators__section-ribbbon
                        //-     .accelerators__section-ribbbon-element
                        //-     .accelerators__section-ribbbon-element
                        //-     .accelerators__section-ribbbon-element







        //- .accelerators__sections

        //-     .accelerators__section.accelerators__section--intro#intro

        //-         .accelerators__section-header
        //-             p.accelerators__section-supertitle &nbsp;
        //-             .break
        //-             h2.accelerators__section-title Beschleuniger
        //-             .break
        //-             p.accelerators__section-intro für Teilchen, Wissen und Gesellschaft

        //-         .accelerators__section-main
        //-             Hello

        //-         .accelerators__section-ribbbon
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element

        //-         .accelerators__section-navigation
        //-             .accelerators__section-navigation-empty 
        //-                 //- .accelerators__section-navigation-label Mehr hierzu erfahren
        //-             a.accelerators__section-navigation-next(href="#was-womit-wozu")
        //-                 .accelerators__section-navigation-label Nächstes Kapitel


        //-     .accelerators__section.accelerators__section--what_how_wherefore#was-womit-wozu

        //-         .accelerators__section-header
        //-             p.accelerators__section-supertitle Überblick
        //-             .break
        //-             h2.accelerators__section-title Was womit wozu beschleunigen?
        //-             .break
        //-             p.accelerators__section-intro Beschleunigerphysik ist ein Tausendsassa: Sie beschleunigt verschiedene Teilchensorten mit unterschiedlichen Beschleunigertypen für eine Fülle von Anwendungen.

        //-         .accelerators__section-main

        //-             ol.what_how_for-what__steps
        //-                 - var what_how_wherefore = helpers.readYAML("_source/content/accelerators/accelerators__what_how_for-what.yaml")

        //-                 each step in what_how_wherefore.steps
        //-                     li.what_how_for-what__step
        //-                         .what_how_for-what__step-body
        //-                             h3.what_how_for-what__step-title!= step.title
        //-                             p.what_how_for-what__step-description!= step.description
        //-                         ol.what_how_for-what__step-options
        //-                             each option in step.options
        //-                                 li.what_how_for-what__step-option
        //-                                     h4.what_how_for-what__step-option-title!= option.title
        //-                                     p.what_how_for-what__step-option-description!= option.description

        //-         .accelerators__section-ribbbon
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element

        //-         .accelerators__section-navigation
        //-             a.accelerators__section-navigation-back(href="#") 
        //-                 .accelerators__section-navigation-label Zurück
        //-             a.accelerators__section-navigation-more(href="was-womit-wozu/") 
        //-                 .accelerators__section-navigation-label Mehr erfahren
        //-             a.accelerators__section-navigation-next(href="#funktionsweise")
        //-                 .accelerators__section-navigation-label Nächstes Kapitel


        //-     .accelerators__section.accelerators__section--operating-principle#funktionsweise

        //-         .accelerators__section-header
        //-             p.accelerators__section-supertitle Funktionsweise
        //-             .break
        //-             h2.accelerators__section-title Wie funktionieren Beschleuniger?
        //-             .break
        //-             p.accelerators__section-intro Insbesondere Beschleuniger für die Forschung sind Maßanfertigungen, doch die Funktion zentraler Komponenten ist bei fast allen gleich.



        //-         .accelerators__section-main


        //-             .accelerator-components
        //-                 - var op = helpers.readYAML("_source/content/accelerators/accelerators__operating-principle.yaml")

        //-                 each component in op.components
        //-                     .accelerator-component.accelerator-component--bending-magnet
        //-                         .accelerator-component__main
        //-                             h2= component.title
        //-                             p= component.body
        //-                         .accelerator-component__figure
        //-                             figure
        //-                                 img.responsive(src=component.figure.src alt=component.figure.alt)
        //-                                 figcaption!= component.figure.caption
        //-                                     .credits component.figure.credits

        //-         .accelerators__section-ribbbon
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element

        //-         .accelerators__section-navigation
        //-             //- a.accelerators__section-navigation-back(href="#was-womit-wozu") 
        //-             //-     .accelerators__section-navigation-label Zurück
        //-             a.accelerators__section-navigation-more(href="funktionsweise/") 
        //-                 .accelerators__section-navigation-label Mehr erfahren
        //-             a.accelerators__section-navigation-next(href="#weltweite-zusammenarbeit")
        //-                 .accelerators__section-navigation-label Nächstes Kapitel


        //-     .accelerators__section.accelerators__section--linking-nations#weltweite-zusammenarbeit

        //-         .accelerators__section-header
        //-             p.accelerators__section-supertitle Internationale Projekte
        //-             .break
        //-             h2.accelerators__section-title Weltweite Zusammenarbeit
        //-             .break
        //-             p.accelerators__section-intro Beim Bau und Betrieb von Beschleunigern hat internationale Zusammenarbeit Tradition. Kein Großprojekt wird mehr im nationalen Alleingang errichtet; auch bei kleineren Beschleunigern arbeiten fast immer Menschen aus vielen Ländern Hand in Hand. 


        //-         .accelerators__section-main
        //-             .linking-nations__stories
        //-                 - var ln = helpers.readYAML("_source/content/accelerators/accelerators__linking-nations.yaml")

        //-                 each story in ln.stories
        //-                     .linking-nations__story
        //-                         .linking-nations__story-main
        //-                             h2= story.title
        //-                             p= story.body
        //-                         aside.linking-nations__story-aside= story.aside

        //-                         .linking-nations__story-figure
        //-                             figure
        //-                                 img.responsive(src=story.figure.src alt=story.figure.alt)
        //-                                 figcaption!= story.figure.caption
        //-                                     .credits story.figure.credits

        //-         .accelerators__section-ribbbon
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element
        //-             .accelerators__section-ribbbon-element

        //-         .accelerators__section-navigation
        //-             //- a.accelerators__section-navigation-back(href="#funktionsweise") 
        //-             //-     .accelerators__section-navigation-label Zurück
        //-             a.accelerators__section-navigation-more(href="weltweite-zusammenarbeit/") 
        //-                 .accelerators__section-navigation-label Mehr erfahren
        //-             a.accelerators__section-navigation-next(href="#atlas")
        //-                 .accelerators__section-navigation-label Nächstes Kapitel


        //-     .accelerators__section.accelerators__section--atlas#atlas


        //-         .accelerators__section-header
        //-             p.accelerators__section-supertitle Beschleunigerphysik in Deutschland
        //-             .break
        //-             h2.accelerators__section-title Beschleuniger-Atlas
        //-             .break
        //-             p.accelerators__section-intro xxx


        //-         .accelerators__section-main
        //-             .table-responsive
        //-                 table.table.c-accelerator-atlas__data-table#data-table
        //-                     thead
        //-                         tr
        //-                             th.symbol
        //-                             th Anlage
        //-                             th.location Standort
        //-                             //- th.operator Betreiber
        //-                             th.particles Teilchen
        //-                             th.accelerator_type Typ
        //-                             th.size Größe
        //-                             th.energy Max. Energie
        //-                             th.applications Anwendung

        //-                     tbody
        //-                         - var atlas = helpers.readCSV("_source/content/accelerators/accelerators__atlas.csv")
        //-                         - var locale = helpers.d3.formatDefaultLocale({"decimal": ",", "thousands": ".", "grouping": [3], "currency": ["$", ""]})
        //-                         for entry in atlas
        //-                             if (true || entry.is_component_of === "")
        //-                                 tr(class="c-accelerator-atlas__data-table-row c-accelerator-atlas__data-table-row-#{entry.id} c-accelerator-atlas__selection-group c-accelerator-atlas__selection-group-#{entry.id}" data-accelerator-id="#{entry.id}")
        //-                                     td.symbol #[span(class="accelerator-symbol--#{entry.accelerator_type}-#{entry.particles}")]
        //-                                     td.name= entry.name
        //-                                     td.location= entry.location
        //-                                     //- td.operator= entry.parent
        //-                                     td.particles
        //-                                         +translate(entry.particles)
        //-                                     td.accelerator_type
        //-                                         +translate(entry.accelerator_type)
        //-                                     td.size!= locale.format(",.2r")(entry.size) + "&nbsp;m"
        //-                                     td.energy!= locale.format(",.2r")(entry.max_energy) + "&nbsp;eV"
                                            
        //-                                     td.applications 
        //-                                         +translate(entry.applications)
                                            


        //-         //- .accelerators__section-ribbbon
        //-         //-     .accelerators__section-ribbbon-element
        //-         //-     .accelerators__section-ribbbon-element
        //-         //-     .accelerators__section-ribbbon-element

        //-         .accelerators__section-navigation
        //-             //- a.accelerators__section-navigation-back(href="#weltweite-zusammenarbeit") 
        //-             //-     .accelerators__section-navigation-label Zurück
        //-             a.accelerators__section-navigation-more(href="atlas/") 
        //-                 .accelerators__section-navigation-label Mehr erfahren
        //-             .accelerators__section-navigation-empty 

