.accelerators__story-navigation-container
    position: fixed
    top: 0
    right: 0
    height: 100%
    width: 2rem
    z-index: 10001

    user-select: none;  

.accelerators__story-navigation-list
    position: absolute
    // top: 50%
    // transform: translate(0, -50%)
    opacity: .2
    transition: 300ms
    bottom: 4rem
    
.accelerators__story-navigation-container:hover .accelerators__story-navigation-list
    opacity: 1

.accelerators__story-navigation-list-item
    display: block
    padding: .25rem .5rem


.accelerators__story-navigation-link
    background-color: #fff
    // border-radius: 50%
    border: 2px solid black
    color: transparent
    cursor: pointer
    display: block
    height: 1rem
    width: 1rem


.page--accelerators__homepage .accelerators__story-navigation-link[href$="/beschleuniger/"]
    background-color: black

.page--accelerators__operating-principle .accelerators__story-navigation-link[href$="/funktionsweise/"]
    background-color: black

.page--accelerators__what-whereby-wherefore .accelerators__story-navigation-link[href$="/was-womit-wozu/"]
    background-color: black

.page--accelerators__linking-nations .accelerators__story-navigation-link[href$="/weltweite-zusammenarbeit/"]
    background-color: black

.page--accelerators__atlas .accelerators__story-navigation-link[href$="/atlas/"]
    background-color: black

.page__frame-top,
.page__frame-right,
.page__frame-bottom,
.page__frame-left
    position: fixed
    background-color: rgba(white, 0.95)
    z-index: 10000

.page__frame-top
    top: 0
    left: 2rem
    width: calc(100vw - 4rem)
    height: 2rem
    

.page__frame-left
    top: 0
    left: 0
    width: 2rem
    height: 100vh

.page__frame-bottom
    bottom: 0
    left: 2rem
    width: calc(100vw - 4rem)
    height: 2rem
    

.page__frame-right
    top: 0
    right: 0
    width: 2rem
    height: 100vh
    