@import "./accelerators__navigation.styl"
@import "./accelerators__ribbon.styl"
@import "./accelerators__chart.styl"
@import "./accelerators__story-stage.styl"

@import "./accelerators__page.styl"

@import "./accelerators__page-main"
@import "./accelerators__page-header.styl"

@import "./accelerators__story-section-body.styl"
@import "./accelerators__story-subsection_.styl"
@import "./accelerators__story-subsection-header.styl"
@import "./accelerators__story-subsection-body.styl"

@import "accelerators__homepage.styl"

@import "./babylon/accelerators__babylon.styl"

@import "./atlas/accelerators__atlas.styl"
@import "./operating-principle/accelerators__operating-principle.styl"



body.accelerators
    
    background-image: url(/_shared/images/accelerators/concrete-seamless__1000x1000.jpg)
    background-size: 500px 500px
    
    background-repeat: repeat
    background-attachment: fixed;
    height: 100vh
    width: 100vw
    overflow-y: scroll




// section.accelerators__story-section
//     position: relative



