.accelerators__page-section
    padding-bottom: 50vh
    


.accelerators__page-subsection
    padding-bottom: 10rem
    min-height: 50vh


.accelerators__page-subsection-body,
.accelerators__page-subsubsection-body

    max-width: 30rem
    p
        display: inline
        padding: 2px 5px
        box-decoration-break: clone
        font-weight: 300
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, 1, 1.5)
                
                

    .small p
        font-weight: 200

.accelerators__page-subsection-header
    max-width: 30rem

h3.accelerators__page-subsection-title
    text-transform: uppercase
    font-weight: 900
    font-style: italic
    letter-spacing: .05em
    padding: 2px 5px
    box-decoration-break: clone
    display: inline
    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 2, 2)

    // for $viewname, $view in $responsive-views
    //     @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
    //         font-size: ($view["font-ratio"] ** 1)rem
    //         line-height: $view["baseline-height"]*1




.scroller-section--active p
    background-color: white

.scroller-section--active h3
    background-color: white

