extends /_shared-jade/layout--kfb

block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "mathbox"
    - var pagePath = "/"

block title
    title Pathicles 

block page__header

block page__main

    script(src="/_shared/scripts/dev/mathBox-bundle.js")
    script(src="/_shared/scripts/dev/dat.gui.js")
    //- link(href="/_shared/scripts/dev/dat.gui.css" rel="stylesheet")


block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.PathiclesRunner();}) 


