$color__facility_ess = $kfb_gray; //#0095cd
$color__facility_european-xfel = #531796
$color__facility_fair = #dd5519 //#f77c21
$color__facility_cern = #c53228
$color__facility_esrf = #0053a1
$color__facility_sesame = #0098a0



.page--linking-nations


    .c-linking-nations
        width: 100vw
        height: 100vh




    .facility-label
        position: absolute
        display: inline-block
        padding: 0* $line-height--root .25 * $line-height--root
        font-size: $font-size--body-small
        color: black
        border-left: solid 15px;
        background-color: white
        opacity: 0

    &.facility--ess .facility-label--ess
        opacity: 1
    &.facility--european-xfel .facility-label--european-xfel
        opacity: 1
    &.facility--esrf .facility-label--esrf
        opacity: 1
    &.facility--cern .facility-label--cern
        opacity: 1
    &.facility--fair .facility-label--fair
        opacity: 1
    &.facility--sesame .facility-label--sesame
        opacity: 1

    
   

    .facility-label--ess, #ess h3
        border-color: rgba($color__facility_ess, 1)
    .facility-label--european-xfel, #european-xfel h3
        border-color: rgba($color__facility_european-xfel, 1)
    .facility-label--fair, #fair h3
        border-color: rgba($color__facility_fair, 1)
    .facility-label--cern, #cern h3
        border-color: rgba($color__facility_cern, 1)
    .facility-label--esrf, #esrf h3
        border-color: rgba($color__facility_esrf, 1)
    .facility-label--sesame, #sesame h3
        border-color: rgba($color__facility_sesame, 1)


    .l-screen
        height: 100vh
        position: relative


    .story__section-toc
        display: block

        .story__section-toc-item 
            display: block
            background-color: rgba(255,255,255,1)
            margin-top: .25 * $line-height--root
            margin-bottom: .25 * $line-height--root
            margin-left: -1 * $line-height--root
            margin-right: -1 * $line-height--root
            padding: .5 * $line-height--root
            padding-left: 6.5 * $line-height--root
            min-height: 4 * $line-height--root
            background-size: 6 * $line-height--root 4 * $line-height--root
            background-repeat: no-repeat
            border-left: white solid $line-height--root
             

            .title
                font-weight: bold
                text-transform: uppercase
                font-style: italic
        
        .story__section-toc-item--cern
            background-image: url("/_shared/images/accelerators/international-networks--cern.jpg")
        .story__section-toc-item--esrf
            background-image: url("/_shared/images/accelerators/international-networks--esrf.jpg")
        .story__section-toc-item--ess
            background-image: url("/_shared/images/accelerators/international-networks--ess.jpg")
        .story__section-toc-item--european-xfel
            background-image: url("/_shared/images/accelerators/international-networks--european-xfel.jpg")
        .story__section-toc-item--fair
            background-image: url("/_shared/images/accelerators/international-networks--fair.jpg")
        .story__section-toc-item--sesame
            background-image: url("/_shared/images/accelerators/international-networks--sesame.jpg")

    .l-linking-nations__story
        z-index: -1000
        position: absolute;
        top: 0
        height: 100vh
        padding-right: 50%
        padding-top: 1 * $line-height--root
        margin-left: 1 * $line-height--root
        overflow: scroll;
        

        .story__sections
            background-color: rgba(255,255,255,0.5)
            padding: 1 * $line-height--root

        section.story__section
            margin-bottom: 2 * $line-height--root
            min-height: 100vh
            
            display: flex
            flex-direction: column
            align-items: flex-start
            position: relative 

            div
                flex-grow: 0

        section.story__section#intro 
            min-height: inherit
            display: block
        section.story__section#toc x
            min-height: inherit
            display: block
        
        .story__section-header
            display: block
            padding-top: 2 * $line-height--root

            // h2, h3
                // text-transform: uppercase;
                // font-style: italic
                // background-color: rgba(white, .9)
                // border-left: 2*$line-height--root solid white
                // padding: $line-height--root * .5
                // transition: all .1s
                // transform: scale(1)
                // box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                // margin-left: -.5 * $line-height--root
                // margin-right: -.5 * $line-height--root
                // color: black

        .story-section__body
            display: block
            

        .story__section-aside
            font-size: $font-size--body-small

        section.story__section div.story__section-image
            align-self: flex-end
            width: 100%
            position: absolute
            bottom: 0


        
    



    .c-linking-nations__map
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 100vw

        .land
            fill: #bbb;
            fill-opacity: 0.5;

        .country
            fill: #bbb;
            fill-opacity: 0.5;


        .border
            stroke-opacity: .5;
            stroke: white;
            stroke-width: 2;
            fill: none;


        path
            fill: none;
            stroke: none;

        path.graticule
            stroke: $kfb_gray
            stroke-opacity: .3




        .noclicks
            pointer-events: none;


        .facility-circle
            stroke-width: 2;
            fill-opacity: .5;
            stroke-opacity: .5;

        .is-member-of
            mix-blend-mode: normal
            stroke-width: 2
            opacity: 0
            
        .is-member-of.active
            opacity: 1


        .is-member-of-shadow
            opacity: 0;
            stroke: gray;
            stroke-width: 2;

        .is-member-of-shadow.active
            opacity: .2;


        .facility-label-connector
            stroke-width: 3;
            opacity: 1
            stroke: black


        // .member-country--esrf
        //     fill: $color__facility_esrf
        // .member-country--european-xfel
        //     fill: $color__facility_european-xfel
        // .member-country--ess
        //     fill: $color__facility_ess
        // .member-country--fair
        //     fill: $color__facility_fair
        // .member-country--sesame
        //     fill: $color__facility_sesame
        // .member-country--cern
        //     fill: $color__facility_cern

        .member-country
            stroke-opacity: .5;
            stroke: white;
            stroke-width: 2;



        .facility--ess .facility-circle
            fill: $color__facility_ess
            stroke: $color__facility_ess
        .is-member-of.facility--ess
            stroke: $color__facility_ess


        .facility--european-xfel .facility-circle
            stroke: $color__facility_european-xfel
            fill: $color__facility_european-xfel
        .is-member-of.facility--european-xfel
            stroke: $color__facility_european-xfel


        .facility--fair .facility-circle
            stroke: $color__facility_fair
            fill: $color__facility_fair
        .is-member-of.facility--fair
            stroke: $color__facility_fair


        .facility--cern .facility-circle
            fill: $color__facility_cern
            stroke: $color__facility_cern
        .is-member-of.facility--cern
            stroke: $color__facility_cern


        .facility--esrf .facility-circle
            stroke: $color__facility_esrf
            fill: $color__facility_esrf
        .is-member-of.facility--esrf
            stroke: $color__facility_esrf


        .facility--sesame .facility-circle
            stroke: $color__facility_sesame
            fill: $color__facility_sesame
        .is-member-of.facility--sesame
            stroke: $color__facility_sesame
