extends /_shared-jade/layout--accelerators

block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__linking-nations"
    - var pagePath = "/beschleuniger/weltweite-zusammenarbeit/"


block page__main

    h2 Weltweite Zusammenarbeit
    p.large Beim Bau und Betrieb von Beschleunigern hat internationale Zusammenarbeit Tradition. Kein Großprojekt wird mehr im nationalen Alleingang errichtet; auch bei kleineren Beschleunigern arbeiten fast immer Menschen aus vielen Ländern Hand in Hand. 


    .linking-nations__stories
        - var ln = helpers.readYAML("_source/site/accelerators/linking-nations/accelerators__linking-nations.yaml")

        each story in ln.stories
            .linking-nations__story
                .linking-nations__story-main
                    h2= story.title
                    p= story.body
                aside.linking-nations__story-aside= story.aside

                .linking-nations__story-figure
                    figure
                        img.responsive(src=story.figure.src alt=story.figure.alt)
                        figcaption!= story.figure.caption
                            .credits story.figure.credits



block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.AcceleratorsLinkingNationsRunner();}) 
