@import "reset.styl"



$font-size--root = 17px
$line-height--root = 26px


@import "_config.styl"


// $link-color ?= gray
// $link-hover-color ?= darken($link-color, 15)
// $link-decoration ?= none
// $link-hover-decoration ?= underline

// $table-cell-padding ?= 8px
// $table-condensed-cell-padding ?= 5px

// $table-bg ?=                     transparent
$table-bg-active ?=              $table-bg-hover


$bg-color__table-hover = #f5f5f5
$bg-color__table-striped = #f9f9f9


// $table-border-color ?=           #ddd


$cursor-disabled = not-allowed
$table-bg = 0
$table-cell-padding = 0
$text-muted = gray
$font-color--base = black

$background-color--base = white


img.responsive
    width: 100%








$line-height-computed = $line-height--root



@import "bootstrap/print"
// @import "bootstrap/mixins/clearfix"

// @import "bootstrap/responsive-utilities"



// @import "../../_build/tmp/grunticon/icons.data.svg.styl"

.content-font
    // sdjfhgkasdjfh


.content
    // sdjfhgkasdjfh


$l-grid__item--padded
    //b sdkjfhasdkj

// @import icons
@import typography
@import grid
@import debug
@import header

@import "../site/impressum/impressum.styl"

@import "../site/_shared-components/navigation/navigation"
@import "../site/weblinks/weblinks"
@import "../site/kfb/kfb.styl"
@import "../site/forum/forum.styl"
@import "../site/accelerators/accelerators.styl"
@import "../site/_screenshots/screenshots"

@import "../components/c-event/c-event"
@import "../components/c-news-item/c-news-item"
@import "../components/c-site-overview/c-site-overview"
@import "../components/c-badge/c-badge"

@import "tables"


.komitee-fuer-beschleunigerphysik,
.forum-beschleunigerphysik
    // font-size: .8em
    font-style: italic
    font-weight: 400
    letter-spacing: .01em
    text-transform: uppercase
    font-size: .93em

.kfb
    font-style: italic
    
.KfB
    text-transform: none
    font-style: italic
    

.thinnbsp
    // font-size: .8em
    line-height: inherit
    vertical-align: top


.hyphenate
    overflow-wrap: break-word
    word-wrap: break-word
    hyphens: auto


hyphenate()
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    hyphens: auto;



@import "debug.styl"