
$view_breakpoints = {
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px
}

$responsive-views = {

    xs: {
        baseline-height: (24/15)rem
        container-width: 100%
        font-ratio: 1.2
        font-size: 15px
        grid-row-gutter: 1.75rem * .5
        grid-column-gutter: 1.75rem * .5
        grid-padding: 1.75rem * 1
        max-width: ($view_breakpoints.md - 1px)
        min-width: $view_breakpoints.xs
        name: "xs"
        screenshot-width: 375px

    },
    // sm: {
    //     baseline-height: (15/15) * 1.75rem
    //     container-width: 100%
    //     font-ratio: 1.2
    //     font-size: 15px
    //     grid-row-gutter: (15/15) * 1.75rem * 0.25
    //     grid-column-gutter: 1.75rem * .5
    //     grid-padding: 1.75rem * 1
    //     max-width: ($view_breakpoints.md - 1px)
    //     min-width: $view_breakpoints.sm
    //     name: "sm"
    //     screenshot-width: 667px

    // },
    md: {
        baseline-height: (15/16) * (28/15)rem
        container-width: 100%
        font-ratio: 1.2
        font-size: 16px
        grid-row-gutter: 1.75rem * .5
        grid-column-gutter: 1.75rem * .5
        grid-padding: 1.75rem * .5
        max-width: ($view_breakpoints.lg - 1px)
        min-width: $view_breakpoints.md
        name: "md"
        screenshot-width: 768px

    },
    lg: {
        baseline-height: (15/17) * (28/15)rem
        container-width: 936px
        font-ratio: 1.2
        font-size: 16px
        grid-column-gutter: 1.75rem * .5
        grid-row-gutter: 1.75rem * .5
        grid-padding: 1.75rem * .5
        max-width: ($view_breakpoints.xl - 1px)
        min-width: $view_breakpoints.lg
        name: "lg"
        screenshot-width: 1024px

    },
    xl: {
        baseline-height: (15/17) * (28/15)rem
        container-width: 1092px
        font-ratio: 1.2
        font-size: 16px
        grid-row-gutter: (15/17) * 1.75rem * 0.25
        grid-column-gutter: 1.75rem * 2
        grid-padding: 1.75rem * .25
        max-width: 100000px
        min-width: $view_breakpoints.xl
        name: "xl"
        screenshot-width: 1366px
        
        baseline-height: 26px
        container-width: 1092px
        font-ratio: 1.2
        font-size: 17px

        grid-column-count: 12
        grid-column-padding: 10px
        grid-column-gutter: 0px

        max-width: 100000px
        min-width: $view_breakpoints.xl
        name: "xl"
        screenshot-width: 1366px
    }
}

