

$view_breakpoints = {
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px
}

$responsive-views = {

    xs: {
        baseline-height: 24px
        container-width: 100vw
        font-ratio: 1.2
        font-size: 16px

        grid-column-count: 4
        grid-column-gutter: 0vw
        grid-column-padding: 2vw

        max-width: ($view_breakpoints.md - 1px)
        min-width: $view_breakpoints.xs
        name: "xs"
        screenshot-width: 375px
    },
    md: {
        baseline-height: 24px
        container-width: 100vw
        font-ratio: 1.2
        font-size: 16px
        
        grid-column-count: 12
        grid-column-gutter: 0vw
        grid-column-padding: 1vw

        max-width: ($view_breakpoints.lg - 1px)
        min-width: $view_breakpoints.md
        name: "md"
        screenshot-width: 768px

    },
    lg: {
        baseline-height: 24px
        container-width: 936px
        font-ratio: 1.2
        font-size: 16px

        grid-column-count: 12
        grid-column-gutter: 10px
        grid-column-padding: 10px

        max-width: ($view_breakpoints.xl - 1px)
        min-width: $view_breakpoints.lg
        name: "lg"
        screenshot-width: 1024px

    },
    xl: {
        baseline-height: 26px
        container-width: 1092px
        font-ratio: 1.2
        font-size: 17px

        grid-column-count: 12
        grid-column-padding: 10px
        grid-column-gutter: 0px

        max-width: 100000px
        min-width: $view_breakpoints.xl
        name: "xl"
        screenshot-width: 1366px

    }
}


grid-column-width(viewname)
    ($responsive-views[viewname]["container-width"] - ($responsive-views[viewname]["grid-column-count"] - 1)*$responsive-views[viewname]["grid-column-gutter"]) / $responsive-views[viewname]["grid-column-count"]

grid-column-inner-width(viewname)
    ($responsive-views[viewname]["container-width"] - $responsive-views[viewname]["grid-column-gutter"] *  ($responsive-views[viewname]["grid-column-count"] - 1)) / $responsive-views[viewname]["grid-column-count"] - 2 * $responsive-views[viewname]["grid-column-padding"]


.grid-column-width--xs
    width: grid-column-width("xs")
.grid-column-inner-width--xs
    width: grid-column-inner-width("xs")


.grid-column-width--md
    width: grid-column-width("md")

.grid-column-width--lg
    width: grid-column-width("lg")
.grid-column-inner-width--lg
    width: grid-column-inner-width("lg")

.grid-column-width--xl
    width: grid-column-width("xl")
.grid-column-inner-width--xl
    width: grid-column-inner-width("xl")
