// $c-grid-overlay-horizontally--color = rgba(blue, 0.2)
// $c-grid-overlay-vertically--color = rgba(gray, .5)
// $c-grid-overlay-vertically--padding-color = rgba(gray, 0.1)
// $c-grid-overlay-vertically--gutter-color = rgba(gray, 0.2)

// body.debug .c-grid-overlay-horizontally
//     pointer-events: none;
//     position: absolute;
//     top: 0
//     left: 0
//     height: 100%
//     width: 100vw
//     background-color: transparent
    
//     for $viewname, $view in $responsive-views
//         @media (min-width: $view["min-width"]) and (max-width: $view["max-width"])
//             background: linear-gradient($c-grid-overlay-horizontally--color 0px, transparent 1px, transparent $view["baseline-height"]);
//             background-size:  $view["baseline-height"] $view["baseline-height"] 
//     z-index: 10000

// body.debug .c-grid-overlay-vertically
//     pointer-events: none;
//     position: absolute;
//     top: 0
//     left: 50%
//     height: 100vh
      
//     background-color: transparent
//     background-position: 0 0
//     for $viewname, $view in $responsive-views
//         @media (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            
//             background: linear-gradient(90deg, 
//                 $c-grid-overlay-vertically--color 0px, 
//                 $c-grid-overlay-vertically--padding-color 1px, 
//                 $c-grid-overlay-vertically--padding-color ($view["grid-column-padding"]), 
//                 transparent $view["grid-column-padding"],
//                 transparent ($view["grid-column-padding"] + grid-column-inner-width($viewname)),
//                 $c-grid-overlay-vertically--padding-color ($view["grid-column-padding"] + grid-column-inner-width($viewname)),
//                 $c-grid-overlay-vertically--padding-color (2 * $view["grid-column-padding"] + grid-column-inner-width($viewname)),
//                 $c-grid-overlay-vertically--color (2 * $view["grid-column-padding"] + grid-column-inner-width($viewname)),
//                 $c-grid-overlay-vertically--color (2 * $view["grid-column-padding"] + grid-column-inner-width($viewname)),
//                 $c-grid-overlay-vertically--gutter-color (2 * $view["grid-column-padding"] + grid-column-inner-width($viewname) + 1),
//                 $c-grid-overlay-vertically--gutter-color (2 * $view["grid-column-padding"] + $view["grid-column-gutter"] + grid-column-inner-width($viewname))
//                 );
//             background-size: (grid-column-width($viewname) +  $view["grid-column-gutter"]) $view["baseline-height"] 
//             transform: translateX(-0.5 * $view["container-width"]);
//             width: $view["container-width"]
    
//     z-index: 10000


// body.debug .c-grid-overlay__viewname
//     position: fixed;
//     bottom: 0
//     left: 0
//     width: 30px
//     background-color: red    
//     for $viewname, $view in $responsive-views
//         line-height: $view["baseline-height"]
//         height: $view["baseline-height"]
//         bottom: $view["baseline-height"]

