

$container-fixed()
    position: relative
    margin-left: auto
    margin-right: auto

    for $viewname, $view in $responsive-views
        @media (min-width: $view["min-width"])
            width: $view["container-width"]
            padding: 0 $view["grid-column-padding"]

.container
    $container-fixed()


.grid
    /**/

.grid__row
    display: flex
    flex-flow: row wrap

    for $viewname, $view in $responsive-views
        @media (min-width: $view["min-width"]) and (max-width: $view["max-width"])

            margin-top: $view["grid-column-gutter"]
            padding: 0

            &:first-child
                margin-top: 0


// .grid__row--header
//     position: relative


$grid-border-top($border-width = $line-width--thin)
    position: absolute
    top: -1rem
    left: 0
    width: 100%
    content: ""
    height: $border-width
    border-top: $line--thin
    border-top-width: $border-width


// .grid__row--header::before
//     $grid-border-top()



$grid-border-bottom($border-width = $line-width--thick)
    position: absolute
    bottom: -1 * $border-width
    left: 0
    width: 100%
    content: ""
    height: $border-width
    border-top: $line--thick
    border-top-width: $border-width


// .grid__row--header::after
//     $grid-border-bottom()

$make-grid__item($i, $n, $grid-column-gutter, $grid-column-gutter, $grid-column-padding)

    flex: $i $i  (($i - 1) * $grid-column-gutter)

    min-width: 0

    margin: 0 0 0 $grid-column-gutter
    padding: 0 4*$grid-column-padding 0 $grid-column-padding

    &:first-child
        margin-left: 0


for $viewname, $view in $responsive-views

    @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])

        .grid__item
            width: 100%
            padding: 0 $view["grid-column-padding"]


.grid__item--header h2
    padding-top: 1rem

.grid__item--header
    position: relative

.grid__item--header::before
    // $grid-border-top()

.grid__item--header::after
    // $grid-border-bottom()


.grid__item .grid__item
    for $viewname, $view in $responsive-views
        padding: 0 0 !important


$viewIndex = 0
for $viewname, $view in $responsive-views
    $viewIndex += 1

    for $columns-span in (1...13)

        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])

            .grid__item--{$viewname}-{$columns-span}
                flex: 1 0 100%; //$make-grid__item(1, 1, $view["grid-column-gutter"], $view["grid-column-gutter"])
                // // margin: $view["grid-column-gutter"] 0 0 $view["grid-column-gutter"]
                padding: 0 $responsive-views["xs"]["grid-column-padding"]
                // background-color: rgba(black, 0.1)

        $view2Index = 0
        for $viewname2, $view2 in $responsive-views
            $view2Index += 1

            if ($view2Index >= $viewIndex)
                .grid__item--{$viewname}-{$columns-span}
                    @media screen and (min-width: $view2["min-width"]) and (max-width: $view2["max-width"])
                        $make-grid__item(
                            $columns-span,
                            12,
                            $view2["grid-column-gutter"],
                            $view2["grid-column-gutter"],
                            $view2["grid-column-padding"])


$responsive-horizontal-padding()

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            padding-left: $view["grid-column-padding"]
            padding-right: $view["grid-column-padding"]




.hidden
    display: none

for $viewname, $view in $responsive-views

    .hidden--{$viewname}
        @media (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            display: none

    .hidden--{$viewname}-down
        @media (max-width: $view["max-width"])
            display: none

    .hidden--{$viewname}-up
        @media (min-width: $view["min-width"])
            display: none


for $viewname, $view in $responsive-views

    .visible--{$viewname}
        @media (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            display: initial

    .visible--{$viewname}-down
        @media (max-width: $view["max-width"])
            display: initial

    .visible--{$viewname}-up
        @media (min-width: $view["min-width"])
            display: initial


    // ul
    //     margin-left: 1em

    // ul li
    //     position: relative


    // ul li:before
    //     content: "–\00a0"
    //     font-weight: 400
    //     display: block
    //     position: absolute
    //     left: -1em
    //     text-align: right
    //     width: 1em


// $l-grid__item--padded

//     responsive-vertical-padding()
//     $responsive-horizontal-padding()




