

.site--kfb, .site--forum

    .page__header
        padding-top: 4rem
        padding-bottom: .5rem
        margin-bottom: 10rem


.page__header__main

    $responsive-horizontal-padding()
    text-align: left

    padding-top: .5rem

    h1
        $content-h1-declarations()

    p.subtitle
        $content-h1-declarations()
        font-weight: 400


.page__header__logo

    height: 100%
    width: 100%
    padding-top: 0rem

    .svg__inline
        background-position: right
        // display: block
        height: 7rem
        width: 100%
        background-repeat: no-repeat;


.svg__signet--forum
    background-image: embedurl("./_source/images/icons_svgo/signet--forum.svg", "utf8");

.svg__signet--forum--mirrored
    background-image: embedurl("./_source/images/icons_svgo/signet--forum--mirrored.svg", "utf8");

.svg__signet--kfb
    background-image: embedurl("./_source/images/icons_svgo/signet--kfb.svg", "utf8");

