.strut
  display: inline-block;
  height: 100px;



.page--kfb__typography .page__header
    display: none;


.page--kfb__typography .c-navigation
    display: none;



html
    font-family: $font-family--body
    font-size: $responsive-views.xs["baseline-height"]
    font-weight: 300
    line-height: $responsive-views.xs["baseline-height"]

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            font-size: $view["baseline-height"]
            line-height: $view["baseline-height"]

.nowrap
    white-space: nowrap



strong
    font-weight: normal

a
    color: black


$typesetting-declarations($view, $modular-scale-level, $baseline-factor)

    $local-font-size = ($view["font-ratio"] ** $modular-scale-level) * $view["font-size"]

    font-size: $local-font-size
    line-height: $baseline-factor * 1rem
    
    $baseline-offset = ($baseline-factor * $view["baseline-height"] - 0.725 * $local-font-size)  * 0.5
    position: relative
    top: $baseline-offset;


$defaut-content-declaration()
    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 0, 1)


$content-h1-declarations()
    font-family: $font-family--heading
    font-style: italic
    font-weight: 700
    letter-spacing: .01em
    text-transform: uppercase

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 4, 1.5)


$content-h2-declarations()
    font-family: $font-family--heading
    font-style: italic
    font-weight: 700
    letter-spacing: .01em
    text-transform: uppercase

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 2, 1)

$content-h3-declarations()

    font-family: $font-family--heading
    font-style: italic
    font-weight: 700
    text-transform: uppercase
    letter-spacing: .03em

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 0, 1)

$content-h4-declarations()
    font-family: $font-family--heading
    font-style: italic
    font-weight: 300
    text-transform: uppercase
    letter-spacing: .5px

    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, 0, 1)

$content-rules()

    a
        border-bottom: dashed 1px $kfb_gray_light
        text-decoration: none

    > p, li, figcaption, time, td, th, .content-block
        $defaut-content-declaration()

    p.large
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, 3, 2)

    p.small
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, -1, 1)



    h1
        $content-h1-declarations()
                

    h2
        $content-h2-declarations()

    h3
        $content-h3-declarations()

    h4
        $content-h4-declarations()


    ul
        margin-left: 1rem
    
    ul li
        position: relative


    ul li:before
        content: "―\00a0"
        font-weight: 300
        display: block
        position: absolute
        left: -1rem
        text-align: center
        width: 1rem

    figure
        width: 100%

    img 
        max-width: 100%



$responsive-horizontal-padding()
    for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            padding-left: $view["grid-column-padding"]
            padding-right: $view["grid-column-padding"]


$content--tight-rules()
    $content-rules()

$content--loose-rules()
    $content-rules()
    h1, h2, h3, p, ul, ol, dl
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                margin-bottom: 1rem
    
    * + h1, * + h2, * + h3
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                margin-top: 2rem

.content--tight, .content
    $content--tight-rules()

.content--padded
    $content--loose-rules()

.content--padded
    $responsive-horizontal-padding()


.content--padded-top
    padding-top: 1rem