extends /_shared-jade/layout--kfb


block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "kfb__typography"
    - var pagePath = "/_typography/"


block page__main

    

    .container

        .grid

            .grid__row
                .grid__item--xs-12
                    .content
                        h2 List 1 and 2

                        //- p.hidden.visible--xs XS
                        //- p.hidden.visible--sm SM
                        //- p.hidden.visible--md MD
                        //- p.hidden.visible--lg LG
                        //- p.hidden.visible--xl XL

            .grid__row
                .grid__item--xs-4

                    .content
                        h2 l-grid__item--xs-12
                        ul
                            li eins
                            li zwei
                            li drei

            .grid__row
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                .grid__item--md-8
                    .content
                        p l-grid__item--md-8
            .grid__row
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                        p l-grid__item--md-4


            .grid__row
                .grid__item--md-4
                    .grid__row
                        .grid__item--md-4
                            .content
                                p l-grid__item--md-4/4

                        .grid__item--md-8
                            .content
                                p l-grid__item--md-4/8
                    .grid__row
                        .grid__item--md-8
                            .content
                                p l-grid__item--md-4/8

                        .grid__item--md-4
                            .content
                                p l-grid__item--md-4/4
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                .grid__item--md-4
                    .content
                        p l-grid__item--md-4
                        p l-grid__item--md-4
        
        .grid
            .grid__row
                .grid__item--md-6

                    .content

                        h2 List 1

                    ul.grid__item-list
                        li Item 1
                        li Item 2
                        li Item 3
                        li Item 4
                        li Item 5
                        li Item 6


                .grid__item--md-6

                    .content

                        h2 List 2

                    ul.grid__item-list

                        li Item 1
                        li
                            h3 Item 1
                            p Absatz
                        li Item 1
                        li
                            h3 Item 1
                            p Absatz

        .grid
            .grid__row.grid__row.grid__row--header
                .grid__item--md-12
                    .content
                        h2 List 1 and 2

            .grid__row
                .grid__item--md-6

                    ul.grid__item-list

                        li Item 1
                        li Item 2
                        li Item 3
                        li Item 4
                        li Item 5
                        li Item 6


                .grid__item--md-6

                    ul.grid__item-list
                        li Item 1
                        li
                            h3 Item 1
                            p Absatz
                        li Item 1
                        li
                            h3 Item 1


        .grid
            .grid__row
                .grid__item--md-12
                    .content
                        h2 List 1 and 2

            .grid__row
                .grid__item--md-4
                    .content
                        include:supermarkdown ../typography__fixture.md

                .grid__item--md-4
                    .content--tight

                        include:supermarkdown ../typography__fixture.md

                .grid__item--md-4
                    .content

                        include:supermarkdown ../typography__fixture.md



        .grid__row

            .grid__item--md-6
                .content

                    h2 Loose (markdown)

                    include:supermarkdown ../typography__fixture.md

            .grid__item--md-6
            
                .content--tight

                    h2 Tight (markdown)

                    include:supermarkdown ../typography__fixture.md




        //- .grid__row

        //-     .grid__item--md-12
        //-         .content

        //-             h2 Loose (markdown)

        //-             include:supermarkdown ../typography__fixture.md

        //-     .grid__item--md-12
        //-         .content--tight

        //-             h2 Tight (markdown)

        //-             include:supermarkdown ../typography__fixture.md



