
extends /_shared-jade/layout--forum


block title
    title Forum-Logo


block bodyClassVars
    - var siteName = "forum"
    - var pageName = "forum-logo"
    - var pagePath = "/forum/logo/"


block page__header

    .page__header
        .container
            .grid
                .grid__row
                    .grid__item--md-6
                        .page__header__logo
                            .logo-full
                    //- .grid__item--md-6
                    //-     .page__header__main
                    //-         block page__header__main





block page__main
    .page__header__gui-dat
    .container
        .grid
            .grid__row
                .grid__item--md-12
                    

                    

                    h2 Was #[span.h2_small bedeutet das] Logo?

            .grid__row
                .grid__item--md-6
                    
                    .content
                        :supermarkdown
                            Ob in Formel @@ 1 oder Beschleunigerphysik: Mit zunehmender Geschwindigkeit wird es immer schwieriger, noch schneller zu werden. Bei der Formel @@ 1 liegt das an Technik und Fahrer, in der Beschleunigerphysik an der Speziellen Relativitätstheorie.

                            Der Relativitätstheorie zufolge ist die Lichtgeschwidigkeit das absolute Tempolimit. Je näher ein massives Teilchen der Lichtgeschwindigkeit kommt, umso schwerer (= @@ träger) wird und umso schwerer (= @@ schwieriger) wird jede weitere Beschleunigung. In jedem Teilchenbeschleuniger nähert sich die Geschwindigkeit der Teilchen der Geschwindigkeit von Licht, erreicht diese aber niemals ganz.

                            Nehmen wir an, dass ein Teilchen der Masse $m_0$ durch die konstante Kraft $F$ beschleunigt wird. Dann ergibt sich aus den relativistischen Bewegungsgleichungen für die Strecke $s(t)$, die das Teilchen in der Zeit $t$ zurücklegt:

                            $$s(t) = {m_0 c^2 \over F} \Bigg(\sqrt{1+ \bigg({F \over m_0c}\bigg)^2t^2}-1\Bigg)$$

                            Kommt die Kraft $F$ durch ein konstantes elektrisches Feld der Stärke $E_0$ zustande, gilt bei einem Teilchen der Ladung $q$: $F = E_0q$ und damit:

                            $$s(t) = {m_0 c^2 \over E_0q} \Bigg(\sqrt{1+ \bigg({E_0q \over m_0c}\bigg)^2t^2}-1\Bigg)$$

                            Die Balken im Forum-Logos ergeben sich nun aus den Strecken, die Photonen, Elektronen und Protonen in einem elektrischen Feld der Größe $E_0$ nach jeweils konstanten Zeitintervallen zurücklegen.

                            Zudem ergibt die Form der Balken ein F &ndash; wie Forum.

                            Übrigens: Das Logo zeigt deutlich, dass sich Protonen (rot) weit langsamer der Lichtgeschwidigkeit annähern als Elektronen (blau). Aufgrund dieses Unterschieds lassen sich Elektronen-Beschleuniger nicht ohne Weiteres für Protonen nutzen oder umgekehrt.
    
                        

                .grid__item--md-6
                    .content

                        #forum-logo-chart-column
                            figure
                                .forum-logo-chart
                                figcaption
                                    :supermarkdown
                                        Die Balken im Forum-Logos ergeben sich aus den Strecken, die Photonen (<span class="span--others">gelb</span>), Elektronen (<span class="span--helmholtz">blau</span>) und Protonen (<span class="span--university">rot</span>) in einem elektrischen Feld der Größe $E_0$ nach jeweils konstanten Zeitintervallen zurücklegen.

                                        Mit dem Steuerelemente rechts neben dem Logo können Sie die Parameter ändern.


                        

block script_
    link(href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js")
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.ForumLogoRunner();}) 

