.site--forum  .page__header

    margin-bottom: 2rem
    padding-top: 2rem

.page--forum-logo

    .dg.a
        margin-right: auto
        margin-left: auto
        float: none

    .dg.ac
        z-index: 100000 !important;


    .forum-logo-chart
        height: 400px;

        .innerChart
            fill: #fff

        circle
            mix-blend-mode: multiply;
            fill: none

        .axis line
            stroke-width: 1
            stroke: black

        circle.photon
            fill: #ffdc00

        circle.electron
            stroke: #2174a8
            stroke-width: 2

        circle.proton
            stroke: #c53228
            stroke-width: 2

        text
            fill: black

    .page__header__gui-dat, .dc
        position: absolute
        top: 0

    .page__header .row
        position: relative;

    .page__header__logo



        #gui-dat-container
            position: inherit;
            width: 100%
            text-align: center

        .logo-full


            rect
                stroke: white
                stroke-width: 1px

            .photons rect, .photons circle
                fill: #ffdc00

            .electrons rect, .electrons circle
                fill: #2174a8
            .protons rect, .protons circle
                fill: #c53228

            line.grid
                stroke: gray
                stroke-width: .5px
