mixin objToList(entries, pagePath, tooltipPrefix="")
    ul.c-navigation__submenu
        each entry, index in entries
            if (!entry.hide_menu_item)
                li.c-navigation__submenu-item(data-hoverlink=entry.url)
                    a.c-navigation__submenu-item-link(href=entry.url data-index=index title!= tooltipPrefix + entry.title)
                        .c-navigation__submenu-item-title!= entry.title
                        //- .c-navigation__menu-item-icon
                        //-     svg(version="1.1", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 52")
                        //-         rect.icon-stroke(x='2', y='28', width='22', height='22')
                        //- if (entry.icon)
                        //-     .c-navigation__menu-item-icon-2(class!= "svg__" + entry.icon)

.c-navigation


    .c-navigation__header

        .container
            
            .grid
            
                nav.grid__row

                    
                    //- .c-navigation__menu-item.c-navigation__menu-item--menu.grid__item--xs-4.grid__item--md-1
                    //-     .c-navigation__menu-item-container
                    //-         .c-navigation__menu-item-link
                    //-             .c-navigation__menu-item-title Menü
                        
                    .c-navigation__menu-item.grid__item--xs-4.grid__item--md-2
                        .c-navigation__menu-item-container
                            a.c-navigation__menu-item-link(href="/"  title="Startseite")
                                .c-navigation__menu-item-title Start
                        +objToList(Object.keys(helpers.getSitemap().data["/"].pages).map(key => helpers.getSitemap().data["/"].pages[key]).filter(p => !p.pages), pagePath, "")

                    .c-navigation__menu-item.c-navigation__menu-item--kfb.grid__item--md-2
                        .c-navigation__menu-item-container
                            .c-navigation__menu-item-icon.svg__signet--kfb
                            a.c-navigation__menu-item-link(href="/kfb/"  title="Komitee für Beschleunigerphysik")
                                .c-navigation__menu-item-title KfB
                                
                        +objToList(helpers.getSitemap().data["/"].pages["kfb"].pages, pagePath, "KfB: ")

                    .c-navigation__menu-item.c-navigation__menu-item--forum.grid__item--md-2
                        .c-navigation__menu-item-container
                            a.c-navigation__menu-item-link(href="/forum/"  title="Forum Beschleunigerphysik")
                                .c-navigation__menu-item-title Forum
                        +objToList(helpers.getSitemap().data["/"].pages["forum"].pages, pagePath, "FORUM: ")

                    .c-navigation__menu-item.c-navigation__menu-item--accelerators.grid__item--md-4
                        .c-navigation__menu-item-container
                            a.c-navigation__menu-item-link(href="/beschleuniger/"  title="Beschleuniger")
                                .c-navigation__menu-item-title Beschleuniger
                        +objToList(helpers.getSitemap().data["/"].pages["accelerators"].pages, pagePath, "Beschleuniger: ")

                    .c-navigation__menu-item.c-navigation__menu-item--next.grid__item--xs-4.grid__item--md-2
                        .c-navigation__menu-item-container
                            a.c-navigation__menu-item-link(href="NEXT_URL" title="Nächste Seite")
                                .c-navigation__menu-item-title Nächste&nbsp;Seite

    .c-navigation__background

