extends /_shared-jade/layout--accelerators

block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__operating-principle"
    - var pagePath = "/beschleuniger/funktionsweise/"

block page__main

    script(src="http://cdn.babylonjs.com/2-5/babylon.max.js")

    canvas#renderCanvas




block script_
    script.
        document.addEventListener("DOMContentLoaded", function () {
        AcceleratorsLibrary.init("accelerators__babylon");
        });



