extends /_shared-jade/layout--kfb


block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "kfb-meetings"
    - var pagePath = "/kfb/sitzungen/"


block page__header__main
    h1 Sitzungen
    p.subtitle Termine und<br>Dokumente


//- block page__main
//-     - var meetings = helpers.readYAML("_source/content/kfb-meetings.yaml")
//-     - var future_meetings = meetings.filter(d => { d1 = new Date(); d2 = new Date(d.date); return d1.getTime() <= d2.getTime()})
//-     - var past_meetings = meetings.filter(d => { d1 = new Date(); d2 = new Date(d.date); return d1.getTime() > d2.getTime()})


//-     .container

//-         .grid
//-             .grid__row
//-                 .grid__item--md-6
//-                     .content
//-                         h2 Nächste #[span.dimmed Sitzung]

//-                         ul.ui-list
//-                             each meeting, i in future_meetings
//-                                 +meeting(meeting)

//-                 .grid__item--md-6
//-                     .content
//-                         h2 Archiv

//-                         ul.ui-list
//-                             each meeting, i in past_meetings
//-                                 +meeting(meeting)

block page__main
    - var $events = helpers.getContentOfFolder("./_source/content/kfb/events/**.md", "ascending")
    - var $future_events = $events.filter(d => { d1 = new Date(); d2 = new Date(d.data.date); return d1.getTime() <= d2.getTime()})
    - var $past_events = $events.filter(d => { d1 = new Date(); d2 = new Date(d.data.date); return d1.getTime() > d2.getTime()})



    .container
        .grid__row
            .grid__item--md-6

                .content
                    h2 Nächste Sitzung

                ul.content
                    each $event, i in $future_events
                        li.grid__item-list-item
                            +c-event($event)
                    
                    if ($future_events.length == 0)
                        p Der Termin der nächsten Sitzung steht noch nicht fest.

            .grid__item--md-6

                .content
                    h2 Archiv

                ul.content
                    each $event, i in $past_events
                        li.grid__item-list-item
                            +c-event($event)
