extends /_shared-jade/layout--kfb

block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "weblinks"
    - var pagePath = "/weblinks/"


block title
    title Weblinks (beschleunigerphysik.de)

mixin getLinks(weblinksNested, type)
    ul.ui-list
        each link in weblinksNested.get(type)
            - var filterClass = ((link.student === 'true') ? "students " : "") + ((link.language === 'en') ? "english" : "")
            li.c-teaser(class=filterClass)
                if (link.supertitle)
                    p.supertitle= link.supertitle
                if (link.language === 'en')
                    .icon--english
                if (link.language === 'de')
                    .icon--german
                if (link.student === 'true')
                    .icon--student
                h3.weblinks__link-title #[a.c-teaser__link(href=link.url)= link["title-level-1"]]
                if (link.description)
                    p.description= link.description

                if (link.url_lectures)
                    ul
                        li.c-teaser
                            .cell
                                p #[a.c-teaser__link(href=link.url_lectures) Lehrveranstaltungen]


block page__header__main
    h1 Weblinks
    p.subtitle zur Beschleunigerphysik

block page__main
    - var weblinksNested = helpers.d3.nest().key(d => d.type).sortValues((a,b) => a["title-level-1"].localeCompare(b["title-level-1"]) ).map(helpers.readCSV("./_source/content/weblinks.csv"))

    .container

        .grid
            .grid__row
                .grid__item--md-6
                    .content


                        ul.list-filter
                            li.list-filter__item
                                label(for="list-filter__item--students-only") #[span.icon--student] Nur Angebote für Studierende anzeigen
                                    input.class-toggle(type="checkbox" id="list-filter__item--students-only" name="students-only" data-class-toggle__class-name="weblinks--students-only" data-class-toggle__target-selector=".weblinks-container")
                            li.list-filter__item(data-filter-value="german-only")
                                label(for="list-filter__item--german-only") #[span.icon--german] Nur deutschsprachige Angebote anzeigen
                                    input.class-toggle(type="checkbox" id="list-filter__item--german-only" name="german-only" data-class-toggle__class-name="weblinks--german-only" data-class-toggle__target-selector=".weblinks-container")


            .grid__row

                .grid__item--md-6
                    .content--tight

                        h2 Konferenzen

                        +getLinks(weblinksNested, "conferences")

                        h2 Offene Stellen

                        +getLinks(weblinksNested, "job-offers")

                        h2 Forschungs&shy;förderung

                        +getLinks(weblinksNested, "research-funding")

                        h2 Programme und Koordinationen

                        +getLinks(weblinksNested, "program-or-coordination")

                        h2 Vereinigungen

                        +getLinks(weblinksNested, "association")

                        h2 Befreundete Komitees

                        +getLinks(weblinksNested, "companioned-committee")

                .grid__item--md-6
                    .content--tight


                        h2 Sommerschulen

                        +getLinks(weblinksNested, "education")

                        h2 Universitäten
                        p mit Forschung oder Lehre in der Beschleunigerphysik

                    
                        +getLinks(weblinksNested, "university-home")

                        h2 Forschungszentren
                        p In Deutschland oder mit deutscher Beteiligung

                    
                        +getLinks(weblinksNested, "research-center")

                        h2 Beschleuniger
                        p In Deutschland oder mit deutscher Beteiligung

                        +getLinks(weblinksNested, "accelerator")

block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.WeblinksRunner();}) 

