.site--kfb.page--weblinks


    ul.list-filter
        margin-bottom: $line-height--root * 1

        li.list-filter__item
            padding: $line-height--root * .5 $line-height--root * .5;
            cursor: pointer

            label
                display: block
                cursor: pointer
                font-weight: normal
            input
                float: right

        .icon--english, .icon--german, .icon--student
            margin-right: $line-height--root * .5


    .weblinks-container.weblinks--german-only
        ul.weblinks > li.english
            display: none
    .weblinks-container.weblinks--students-only
        ul.weblinks > li:not(.students)
            display: none

    ul.ui-list
        margin-bottom: 3rem

    h3.weblinks__link-title
        text-transform: none
        font-style: normal
        letter-spacing: 0
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                font-size: $view["font-size"]
                line-height: $view["baseline-height"]



    // ul.weblinks > li
    //     border-bottom: 1px $kfb_gray dashed
    //     cursor: pointer
    //     background-color: rgba($kfb_gray, 0.0)

    // ul.weblinks > li:nth-child(2n+1)
    //     background-color: rgba($kfb_gray, 0.0)

    .icon--english, .icon--german, .icon--student
        height: $line-height--root
        width: $line-height--root * 1
        display: inline-block;
        text-align: center
        vertical-align: top

    .icon--student
        // @extend .svg__icon--student

        background-image: embedurl("_source/images/icons_svgo/icon--student.svg");
        background-size: $line-height--root * 1
        background-repeat: no-repeat;
    .icon--english:after
        content: "EN"

    .icon--german:after
        content: "DE"



    // .section
    //     margin-bottom: $line-height--root * 2;

    // .section  .section__header.content-font
    //     margin-bottom: 0


    ul.ui-list
        .icon--english, .icon--german, .icon--student
            float: right

    //     li

    // li.c-teaser .cell

    //     padding-top: $line-height--root * .5
    //     padding-bottom: $line-height--root * .5 - 1

    //     p.supertitle
    //         font-size: $font-size--body-small
    //         // line-height: $line-height--root *.5
    //         // padding-bottom: $line-height--root *.5
    //         // min-height: $line-height--root * 2

    //     p
    //         padding-right: $line-height--root * 2;

    //     p.title
    //         font-weight: 700;




    // ul.weblinks > li:last-child
    //     border-bottom: none

    // ul.weblinks li a
    //     border: none

    // ul.weblinks li a a
    //     color: red !important

    // ul.weblinks li:hover a
    //     border-bottom: dashed 1px $kfb_gray

    // ul.weblinks .cell:hover
    //     background-color: rgba($kfb_blue, 0.2)
