extends /_shared-jade/layout--kfb


block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "kfb__typography"
    - var pagePath = "/_typography/"


block page__main

    


    .container

        .content(style="max-width: 20rem; top: 1rem")
        
            include:supermarkdown ../typography__fixture.md

