
.c-badge
    $c-badge()

.c-badge__group-name
    // font-weight: 700
    // text-transform: uppercase

.c-badge--university .c-badge__group-name
    color: $color_university

.c-badge--helmholtz .c-badge__group-name
    color: $color_helmholtz

.c-badge--abroad .c-badge__group-name
    color: $color_abroad

.c-badge--others .c-badge__group-name
    color: darken($color_others, 5)

