mixin c-badge($group, $plural=true)
    div(class="c-badge c-badge--" + $group)
        if $group == "university"
            if $plural
                span.c-badge__group-name Universitäten
            else
                span.c-badge__group-name Universität
        if $group == "helmholtz"
            if $plural
                span.c-badge__group-name Helmholtz-Zentren
            else
                span.c-badge__group-name Helmholtz-Zentrum
        if $group == "abroad"
            if $plural
                span.c-badge__group-name Ausländische Institute
            else
                span.c-badge__group-name Ausländisches Institut
        if $group == "others"
            if $plural
                span.c-badge__group-name Sonstige deutsche Institute
            else
                span.c-badge__group-name Sonstiges deutsches Institut
