    
.c-event
    position: relative
    padding-top: 0rem
    padding-bottom: 1rem
    $responsive-horizontal-padding()


.c-event::after
    $grid-border-bottom()
    border-width: $line-width--thin

p.c-event__lead
    font-weight: 700

time.c-event__time
     display: block
     for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, -1, 1)



