
mixin c-event($event)
    .c-event.content--tight
        .c-event__header
            - var $date = $event.data.date
            if ($date)
                time.c-event__time(datetime=helpers.moment($date).format())
                    span.c-event__day!= helpers.moment($date).format("DD") + ". "
                    span.c-event__month!= helpers.moment($date).locale('de').format("MMMM") + " "
                    span.c-event__year!= '' + helpers.moment($date).format("YYYY")

            //- if ($event.data.category)
            //-     .c-event__category!= helpers.supermarkdownInline($event.data.category)

        .c-event__main.content--tight

            h3.c-event__title!= helpers.supermarkdownInline($event.data.title)
            if ($event.data.lead)
                p.c-event__lead!= helpers.supermarkdownInline($event.data.lead)
            if ($event.content)
                .c-event__content.content--tight!= helpers.supermarkdown($event.content)
