.c-menu 

    color: white
    background-color: transparent
    border: 0
    height: 2rem

    &:hover,
    &:active 
        color: white
    

    // [data-menu-expanded=true] & 
    //     color: $navigation-color--text
    

    @media print 
        display: none
    


.c-menu__icon 
    height: 2rem
    width: 2rem


.c-menu__line 
    transform-origin: 50% 50%

    /* Transitions */
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(5),
    &:nth-of-type(6) 
        opacity: 1
        transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s, opacity 0.05s linear 0.1s

        [data-menu-expanded=true] & 
            opacity: 0
            transition: transform 0.2s ease-out, opacity 0.05s linear 0.1s
        
    

    &:nth-of-type(3),
    &:nth-of-type(4) 
        transition: transform 0.2s ease-out

        [data-menu-expanded=true] & 
            transition: transform 0.2s cubic-bezier(0.8, 0, 0.4, 1.8) 0.2s
        
    

    /* Transforms */
    [data-menu-expanded=true] & 
        &:nth-of-type(1) 
            transform: translateY(500%)
        

        &:nth-of-type(2) 
            transform: translateY(250%)
        

        &:nth-of-type(3) 
            transform: rotate(45deg) scaleX(1.3334)
        

        &:nth-of-type(4) 
            transform: rotate(-45deg) scaleX(1.3334)
        

        &:nth-of-type(5) 
            transform: translateY(-250%)
        

        &:nth-of-type(6) 
            transform: translateY(-500%)
        
    


