$navigation-color = #ffffff
$banner-duration = 200ms
$navigation-duration = 200ms

$navigation-width--large = 3rem
$navigation-color--offset = black

.c-navigation 
    z-index: 1000
    overflow: hidden
    background-color: rgba($navigation-color, 0.99)
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    position: fixed
    transition-duration: $navigation-duration
    transition-timing-function: ease-out

    right: 0
    top: 0
    height: 100vh

    padding: 10px
    width: $navigation-width--large
    transition-property: width

    display: flex
    flex-direction: column
    

    // &[data-menu-expanded=true]
    //     transition-delay: $banner-duration

  // @media (--upto-medium-screen) 
  //   & .has-js 
  //     top: $banner-height--small
  //     max-height: 0
  //     width: 100%
  //     transition-property: max-height
    

  //   [data-menu-expanded=false] & 
  //     max-height: 0
    

  //   [data-menu-expanded=true] & 
  //     max-height: 32rem
  //     box-shadow: 0 8px 8px 0 $navigation-color--shadow
    
  

  // @media (--from-medium-screen) 
  //   .no-js & 
  //     margin-right: $navigation-width--large
    

  //   .has-js & 


  //   [data-menu-expanded=false] & 
  //     width: $navigation-width--large
    

    [data-menu-expanded=true] & 
        width: 22.5em
        box-shadow: 0 0 8px 0 $navigation-color--shadow
    
  

  @media print 
    display: none
  


.c-navigation__drawer 
    display: flex
    flex-direction: column


    overflow: hidden
  
    box-shadow: inset -1px 0 0 $navigation-color--offset
  


/* Backdrop */
[data-menu-expanded]::after 
    content: ''
    display: block
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: map(layers, backdrop)
    transition: opacity $navigation-duration ease-in
    background-color: $navigation-color--backdrop
    backdrop-filter: blur(0)
    opacity: 0
    pointer-events: none


[data-menu-expanded=true]::after 
    backdrop-filter: blur(2px)
    opacity: 1
    pointer-events: fill








.c-topics-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
//  box-shadow: inset 0 1px 0 $navigation-color--offset;

  @media (--from-medium-screen) {
    box-shadow: 0 -1px 0 $navigation-color--offset;
  }
}

.c-topics-nav__item {
    flex: 1 0 2rem;

}

.c-topics-nav__label {
    @apply --focusable;
    @apply --navigation-link;
    @apply --typeset-ui;
    display: block;
    padding: 15px
    text-align: center;
}

