$traverse-nav__label-width = 18rem /* 288px */

.c-traverse-nav

    display: initial
    
    right: 0
    z-index: 1000
    width: $navigation-width--large

.c-traverse-nav__item 
    @apply --focusable
    @apply --navigation-link
    display: block
    position: relative
    width: auto
    padding: 10px
    // box-shadow: inset 0 -1px 0 $navigation-color--offset

    &[rel=prev]::after 
        content: 'Previously: \A' attr(data-sequence-title)
    

    &[rel=next]::after 
        content: 'Next: \A' attr(data-sequence-title)
    

    @media (--from-medium-screen) 
        &::before,
        &::after 
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
        

        &::before 
            content: ''
            z-index: map(layers, underlay)
            background-color: $navigation-color
        

        &::after 
            @apply --typeset-label
            z-index: calc(map(layers, underlay) - 1)
            width: $traverse-nav__label-width
            overflow: hidden
            background-color: $color-year--dark-alpha
            background-color: var(--color-year--dark-alpha, $color-year--dark-alpha)
            backdrop-filter: blur(4px)
            padding: map(spaces, xsmall) map(spaces, small)
            white-space: pre-wrap
            color: white
            transition: all 0.3s ease-out
        

        &:hover 
            &::after 
                left: calc($traverse-nav__label-width * -1)
            
        
    

.c-traverse-nav__item

    display: block
    // background-color: red;
    margin-bottom: 2px
    
    height: 2rem
    width: 2rem


    &::after 
        display: none
        

.c-traverse-nav__item:after
    position: absolute
    bottom: 4px
    border-top: 10px solid black
    height: 10px



.c-traverse-nav__icon 
    height: 1rem
    width: 1rem


