.page--forum-registration

    // .section__main.content
    //     margin-top: $line-height--root * 2

    .control
        position: relative;
        border: none;
        border-bottom: $line--thin
        border-radius: 0
        margin-bottom: $line-height--root * 2
        padding-top: $line-height--root * 1

    .publication-consent .section__header.content-font
        margin-top: $line-height--root * 2
    .publication-consent .section__main.content
        margin-top: $line-height--root * 0

    .publication-consent .control
        margin-bottom: $line-height--root * 0
        padding-top: $line-height--root * 0

    input, textarea, select
        appearance: none;
        border:none;
        border-radius: 0;
        font-size: 1em;
        width: 100%

        display: block;
        padding: 0
        padding-left: $line-height--root * 0.5
        margin: 0
        border: 0;
        outline: 0;
        font-size: $font-size--body-base
        width: 100%
        min-height: 1.5 * $line-height--root


    input[type=checkbox]
        display: inline-block
        width: $line-height--root * 2
        float: left
        vertical-align: bottom
        line-height: $line-height--root
        margin-top: $line-height--root * .25

    label.checkox-label
        width: 100%;
        vertical-align: bottom
        line-height: $line-height--root

    select + label
        opacity: 1
        // THE MAGIC
        // as soon as we start typing, the "required" attribute will
        // set the state to valid and our pseudo selector will match
    input:valid + label
        opacity: 1
        top: 3px;
        // and we highlight the focused input label
    input:focus + label
        color: $kfb_gray



    select

        width:100%;

        margin: $line-height--root * 0.25
        // box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);

    //
    //
    // select:hover
    //     box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);


    .form-footer
        margin-top: 2 * $line-height--root
        margin-bottom:3 * $line-height--root


        input
            height: $line-height--root * 3
            border: $line--thick
            background-color: white
            text-decoration: underline;

        input.submit
            cursor: pointer
        input.submitted
            cursor: wait

        .result--success, .result--error
            width: 100%
            text-align: center
            padding: 1 * $line-height--root
            border: 5px solid
            
        .hidden
            display: none

        .result--success
            border-color: green

        .result--error
            border-color: red
