extends /_shared-jade/layout--forum


block title
    title Forum Beschleunigerphysik / Registrierung (beschleunigerphysik.de)


block bodyClassVars
    - var siteName = "forum"
    - var pageName = "forum-registration"
    - var pagePath = "/forum/registrierung/"

block page__header__main
    h1 Registrierung
    p.subtitle zum Forum<br>Beschleunigerphysik

block page__main
    .container
        - var affiliations = helpers.readJSON("./_source/content/forum-affiliations.json").sort((a,b) => a.name.localeCompare(b.name))



        .grid
            .grid__row
                .grid__item.grid__item--header
                    .content
                        h2 Voraussetzungen
                        :supermarkdown
                            Alle in der Beschleunigerphysik tätigen Physikerinnen und Physiker können sich über diese Seite als Mitglied registrieren, wenn sie an einem Institut in Deutschland oder mit starker deutscher Beteiligung beschäftigt sind.

            form(action="https://010pe0puc6.execute-api.eu-central-1.amazonaws.com/prod/process-form", method="post", accept-charset="UTF-8", enctype="text/plain", id="forum-registration-form")

                .grid__row
                    .grid__item--md-6
                        .content

                            h2 Angaben zur #[strong Person]


                            fieldset
                                .row
                                    .col-lg-6
                                        .control
                                            label(for='title') Anrede
                                            select#title(name='title')
                                                option Herr
                                                option Frau
                                    .col-lg-6
                                        .control
                                            label(for='academic-title') Akademischer Titel / Abschluss
                                            input#academic-title(type='text', name='academic-title')
                            fieldset
                                .row
                                    .col-lg-6
                                        .control
                                            label(for='given-name') Vorname
                                            input#given-name(type='text', name='given-name')

                                    .col-lg-6
                                        .control
                                            label(for='family-name') Nachname
                                            input#family-name(type='text', name='family-name')

                            fieldset
                                .control
                                    label(for='email-adress') E-Mail-Adresse
                                    input#email-adress(type='email', name='email-adress')

                            fieldset
                                .control
                                    label(for='phone-number') Telefon
                                    input#phone-number(type='text', name='phone-number')


                    .col-md-6

                        .section__header.content-font
                            .row
                                .col-md-12
                                    .cell
                                        h2 Angaben zum #[strong Institut]
                        .section__main.content
                            fieldset

                                .row
                                    .col-md-12
                                        .control
                                            label(for='affiliation') Universität / Forschungszentrum
                                            select#affiliation(name='affiliation')
                                                each affiliation in affiliations
                                                    option(value=helpers.slugify(affiliation.name).s)= affiliation.name
                                .row
                                    .col-md-12
                                        .control
                                            label(for='affiliation-not-in-list') Universität / Forschungszentrum (falls nicht in Liste)
                                            input#affiliation-not-in-list(type='text', name='affiliation-not-in-list')

                            fieldset
                                .row
                                    .col-md-6
                                        .control
                                            label(for='institute-or-division') Institut / Abteilung
                                            input#institute-or-division(type='text', name='institute-or-division')

                                    //- .col-md-6
                                    //-     .control
                                    //-         input#institute-subdivision(type='text', name='institute-subdivision' placeholder='Unterabteilung')
                                    //-         label(for='institute-subdivision') Unterabteilung
                            fieldset
                                .row
                                    .col-md-12
                                        .control
                                            label(for='address') Anschrift
                                            input#address(type='text', name='address')
                            fieldset
                                .row
                                    .col-md-6
                                        .control
                                            label(for='zip-code') Postleitzahl
                                            input#zip-code(type='text', name='zip-code')
                                    .col-md-6
                                        .control
                                            label(for='city') Stadt
                                            input#city(type='text', name='city')
                            fieldset
                                .row
                                    .col-md-6
                                        .control
                                            label(for='country') Land
                                            input#country(value="Deutschland", name='country', type='text')

                .row.publication-consent
                    .col-md-12
                        .section__header.content-font
                            .row
                                .col-md-12
                                    .cell
                                        h2 Einverständnis zur #[strong Veröffentlichung]

                        .section__main.content

                            fieldset
                                .row
                                    .col-lg-12
                                        .cell Ich bin damit einverstanden, dass die folgenden Angaben auf öffentlichen Mitgliederlisten erscheinen können:
                                    .col-lg-12
                                        .control
                                            .cell
                                                label.checkox-label(for='name-publishable') Mein Name
                                                    input#name-publishable(type='checkbox', name='publishable' value='name')
                                                label.checkox-label(for='email-publishable') Meine E-Mail-Adresse
                                                    input#email-publishable(type='checkbox' name='publishable' value='email')


                .row.form-footer
                    .col-md-12
                        .cell
                            input.submit(type="submit"  name="submit" value="Absenden")
                            .result--error.hidden
                                p Bei der Verarbeitung Ihrer Anfrage gab es ein Problem. 
                                p Bitte schicken Sie Ihre Anfrage an #[a(href="mailto:kommunikation@bescheunigerphysik.de") kommunikation@bescheunigerphysik.de].
                                p.error-message 

                            .result--success.hidden
                                p Ihre Daten wurden weitergeleitet. 

block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.ForumRegistrationRunner();}) 
