    
.c-news-item
    position: relative
    padding-top: 0rem
    padding-bottom: 1rem
    $responsive-horizontal-padding()

.c-news-item::after
    $grid-border-bottom($line-width--thin)

p.c-news-item__lead
    font-weight: 700

time.c-news-item__time
     display: block
     for $viewname, $view in $responsive-views
        @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
            $typesetting-declarations($view, -1, 1)



