
mixin c-news-item($newsItem)
    .c-news-item.content--tight
        //- .c-news-item__header.content--tight
        - var $date = $newsItem.data.date
        if ($date)
            time.c-news-item__time(datetime=helpers.moment($date).format())
                span.c-news-item__day!= helpers.moment($date).format("DD") + ". "
                span.c-news-item__month!= helpers.moment($date).locale('de').format("MMMM") + " "
                span.c-news-item__year!= '' + helpers.moment($date).format("YYYY")

            //- if ($newsItem.data.category)
            //-     .c-news-item__category!= helpers.supermarkdownInline($newsItem.data.category)


        //- .c-news-item__main.content--tight

        h3.c-news-item__title!= helpers.supermarkdownInline($newsItem.data.title)
        if ($newsItem.data.lead)
            p.c-news-item__lead!= helpers.supermarkdownInline($newsItem.data.lead)

        if ($newsItem.content)
            .c-news-item__content.content--tight!= helpers.supermarkdown($newsItem.content)
