extends /_shared-jade/layout--kfb

block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "homepage"
    - var pagePath = "/"
    - var additionalBodyClass = "c-navigation--open"

block title
    title beschleunigerphysik.de


block page__header


block page__main

    .container.content-font
        .row
            .col-md-12
                .superheader(aria-hidden=true)
                    h1 Nachrichten und Termine

            .col-md-6
                section.page__main__section

                    header.page__main__section__header
                        .row
                            .col-md-12
                                .cell
                                    h2 Nachrichten

                    .page__main__section__main
                        ul.news.row
                            - var news = helpers.getContentOfFolder("./_source/content/news/**.md")
                            each newsItem, i in news
                                li.col-md-12
                                    .cell
                                        +dateFormat(newsItem.data.date)
                                        h3
                                            strong!= helpers.supermarkdownInline(newsItem.data.title)
                                        .lead!= helpers.supermarkdown(newsItem.data.lead)
                                        .body!= helpers.supermarkdown(newsItem.content)

            .col-md-6
                section.page__main__section

                    header.page__main__section__header
                        .cell
                            h2 Termine

                    .page__main__section__main
                        ul.events.row
                            - var events = helpers.getContentOfFolder("./_source/content/events/**.md", "ascending")
                            each event, i in events

                                li.col-md-12
                                    .cell
                                        .date-and-location
                                            +dateFormat(event.data.date)
                                            if event.data.date_end
                                                |&nbsp;&ndash;&nbsp;
                                                +dateFormat(event.data.date_end)
                                            if event.data.location
                                                .location= event.data.location
                                        h3
                                            strong!= helpers.supermarkdownInline(event.data.title)
                                        .lead!= helpers.supermarkdown(event.data.lead)
                                        .body!= helpers.supermarkdown(event.content)



    if (features.service_worker_cache === "enabled")
        script(src="/_shared/scripts/service-worker-registration.js" async)

