extends /_shared-jade/layout--kfb


block bodyClassVars
    - var $contentFilePath = "_source/content/impressum.yaml"

block page__header__main

    h1!= $content.title

block page__main

    .container
        .grid
            .grid__row
            
                .grid__item--md-4
                    .grid__row
                        .grid__item.grid__item--header
                            .content
                                h2!= helpers.supermarkdown($content.contact.title)

                    .grid__row
                        .grid__item
                            .content.content--padded-top!= helpers.supermarkdown($content.contact.body)

                .grid__item--md-8
                    .grid__row
                        .grid__item.grid__item--header
                            .content
                                h2!= helpers.supermarkdown($content.legal.title)

                    .grid__row
                        .grid__item
                            .content.content--padded-top!= helpers.supermarkdown($content.legal.body)
