.page--accelerators__atlas


    .atlas__country
        fill-opacity: .2
        fill: $kfb_gray
        stroke-opacity: .2
        stroke-width: 2px
        stroke: white

    .atlas__bundesland
        fill-opacity: .08
        fill: $kfb_gray
        stroke-opacity: .3
        stroke-width: 1px
        stroke: white

    .link
        stroke-width: 2
        stroke: white
        stroke-opacity: .5



    .accelerator--electrons, .accelerator--electrons .label-background
        fill: $kfb_blue
            
    .accelerator--ions, .accelerator--ions .label-background
        fill: $kfb_red

    .label-background
        fill: $kfb_gray
        fill-opacity: .9
        
    .label-text
        font-size: .75rem
        font-weight: bold
        font-family: Lato
        fill: white
        text-anchor: middle
        alignment-baseline: central
    
    .university .label-background
        fill: white

    .university .label-text, .university .location-marker
        fill: black

    .research-institute .label-background
        fill: white

    .research-institute .label-text, .research-institute .location-marker
        fill: black


    // .l-left
    //     padding-left: $offcanvas_menu_width--closed
    //     width: 70vw
    //     float: left
    //     height: 100vh
    //     background-color: rgba(black, 0.6)
    //     overflow-y: scroll
    //     color: white
    //     a
    //         color: white
    //
    // .l-right
    //     float: left
    //     width: 30vw
    //     height: 100vh
    //     background-color: rgba(white, 0.9)
    //     box-shadow: 0em 0vh 1vh #000;
    //     z-index: 20000
    //     overflow-y: scroll

    .l-screen
        width: 100vw
        height: 100vh


    .l-accelerator-atlas__data-table
        height: 100vh
        width: 100%
        padding: 10vmin


    .c-accelerator-atlas__data-table
        font-size: $font-size--body-small

        th
            background-color: rgba(black, 0.5)
            color: white

        td
            background-color: rgba(white, 0.5)
            white-space: nowrap

        tr:hover
            td
                background-color: rgba(white, .7)

        tr.selected
            td
                background-color: rgba(white, 1)


        th.operator,  td.operator
            display: none
        th.location, td.location
            display: none

        .accelerator-symbol--synchrotron-ions,
        .accelerator-symbol--synchrotron-electrons,
        .accelerator-symbol--microtron-electrons
            display: inline-block;
            content: "x"
            width: 10px
            height: 10px
            border-radius: 50%

        .accelerator-symbol--synchrotron-ions
            background-color: $kfb_red

        .accelerator-symbol--synchrotron-electrons
            background-color: $kfb_blue

        .accelerator-symbol--microtron-electrons
            background-color: $kfb_blue

        .accelerator-symbol--linear-accelerator-ions,
        .accelerator-symbol--linear-accelerator-electrons
            display: inline-block;
            content: ""
            width: 10px
            height: 10px


        .accelerator-symbol--linear-accelerator-ions
            background-color: $kfb_red

        .accelerator-symbol--linear-accelerator-electrons
            background-color: $kfb_blue



    .l-accelerator-atlas__info
        display: none
        height: 100vh
        width: 50vw
        padding: 10vmin
        overflow-y: scroll
        background-color: rgba(white, 1)


    .c-accelerator-atlas__info
        section
            display: none
            padding-top: $line-height--root * 0
            overflow-x: scroll

            .abbreviation_for
                font-style: italic;

            .description_long
                margin-top: $line-height--root

            .details.data
                display: block
                margin-top: $line-height--root
                margin-bottom: $line-height--root
                border-top: 5px solid gray
                border-bottom: 5px solid gray

                .datum
                    make-row()
                    border-top: 1px solid gray
                    line-height: 1.5 * $line-height--root

                    .datum-label
                        make-md-column(6)
                        font-weight: bold

                    .datum-value
                        make-md-column(6)
                        text-align: right

                .datum:first-child
                    border: none



        section.selected
            display: block

    .l-accelerator-atlas__map
        position: absolute;
        top: 0
        left:0
        height: 100%
        width: 100%


    .c-accelerator-atlas__map
        height: 100%
        width: 100%

        .country
            stroke: #fff;
            stroke-width: 1px;
            stroke-opacity: 0.3;
            fill: #000;
            fill-opacity: 0.2;

        .bundesland
            fill: #000;
            stroke: #fff;
            stroke-width: 1px;
            stroke-opacity: 0.3;
            fill-opacity: 0.2;

        .bundesland-label
            fill: #000;
            font-size: 10px;
            font-family: Arial;

        .accelerator-marker, .accelerator
            fill: green;
            fill-opacity: 1

        .accelerator-marker--ions
            fill: $kfb_red;
        .accelerator-marker--electrons
            fill: $kfb_blue;


        // .accelerator-label
        //     text-anchor: left

        .university
            fill: red;
            fill-opacity: 0.5

        .research-institute
            fill: blue
            fill-opacity: 0.5
