extends /_shared-jade/layout--accelerators

block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__atlas"
    - var pagePath = "/beschleuniger/atlas/"

block page__main

    - var $story = helpers.readYAML("_source/site/accelerators/accelerators__story.yaml")

    .accelerators__chart#accelerators__chart--atlas

    +story-section($story.sections["atlas"])

block script_
    script.
        document.addEventListener("DOMContentLoaded", function () {
        AcceleratorsLibrary.init("accelerators__atlas");
        });







    //- .table-responsive
    //-     table.table.c-accelerator-atlas__data-table#data-table
    //-         thead
    //-             tr
    //-                 th.symbol
    //-                 th Anlage
    //-                 th.location Standort
    //-                 th.operator Betreiber
    //-                 th.particles Teilchen
    //-                 th.accelerator_type Typ
    //-                 th.size Größe
    //-                 th.energy Max. Energie
    //-                 th.applications Anwendung
    //-         tbody
    //-             for entry in atlasData["$accelerator"]
    //-                 if (true || entry.is_component_of === "")
    //-                     tr(class="c-accelerator-atlas__data-table-row c-accelerator-atlas__data-table-row-#{entry.id} c-accelerator-atlas__selection-group c-accelerator-atlas__selection-group-#{entry.id}" data-accelerator-id="#{entry.id}")
    //-                         td.symbol #[span(class="accelerator-symbol--#{entry.accelerator_type}-#{entry.particles}")]
    //-                         td.name= entry.abbreviation
    //-                         td.location= entry.location
    //-                         td.operator= entry.parent
    //-                         td.particles
    //-                             +translate(entry.particles)
    //-                         td.accelerator_type
    //-                             +translate(entry.accelerator_type)
    //-                         td.size= entry.size
    //-                         td.energy= entry.max_energy
    //-                         td.applications= entry.applications
                //- .col-md-6
                //-     .l-accelerator-atlas__info
                //-         .c-accelerator-atlas__info
                //-             for entry in atlasData["$accelerator"]
                //-                 if entry.is_component_of === ""
                //-                     section(class="accelerator-atlas__details c-accelerator-atlas__selection-group c-accelerator-atlas__selection-group-#{entry.id}" id=entry.id)
                //-                         h2= entry.name
                //-                         p.abbreviation_for= entry.abbreviation_for
                //-                         p.description= entry.description
                //-                         p.description_long
                //-                             +lipsum(2, "sentences")
                //-                         .row
                //-                             .col-md-6

                //-                                 .accelerator-layout
                //-                                     img(src="/_shared/images/accelerator-layouts/accelerator-layouts_#{entry.id}.svg" alt="Layout der Anlage")
                //-                             .col-md-6
                //-                                 .details.data
                //-                                     .datum
                //-                                         .datum-label Betreiber
                //-                                         .datum-value= entry.parent

                //-                                     .datum
                //-                                         .datum-label Beschleunigte Teilchen
                //-                                         .datum-value
                //-                                             +translate(entry.particles)
                //-                                     .datum
                //-                                         .datum-label Maximale Energie
                //-                                         .datum-value= entry.max_energy
                //-                                     .datum
                //-                                         .datum-label= entry.size_label
                //-                                         .datum-value= entry.size


        //- include /_shared-jade/deferred_script_loading
        //- script.
        //-     var accelerators, componentsInterface;
        //-     require(['/_shared_requirejs/require-config.js'], function () {
        //-         // Configuration loaded now, safe to do other require calls
        //-         // that depend on that config.
        //-         require(["Accelerators"], function () {

        //-             accelerators =  new AcceleratorsLibrary.Accelerators();
        //-             componentsInterface = accelerators.createAcceleratorsAtlas();

        //-             componentsInterface.createAtlas(".c-accelerator-atlas__map");
        //-         })
                //-
                //- require(['Atlas', 'd3'], function () {
                //-     componentsInterface =  new AcceleratorsLibrary.AcceleratorsAtlas();
                //-     componentsInterface.createAtlas(".c-accelerator-atlas__map");
                //-
                //-     //- .createAtlas
                //-
                //-
                //- });
                //- new Tablesort(document.getElementById('data-table'));
            });
