//
// Tables
// --------------------------------------------------

.table__td--strong
    font-weight: 700

caption
  $responsive-horizontal-padding()
  responsive-vertical-padding()
  text-align left

th
  text-align left


// Baseline styles

.table
  width 100%
  max-width 100%

  // Cells
  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        // $responsive-horizontal-padding()
        // responsive-vertical-padding()
        line-height 1.75rem
        vertical-align top
        // border-top 1px solid $table-border-color

  // Bottom align for column headings
  > thead > tr > th
    vertical-align bottom
    font-weight: bold
    border-bottom $line--thin

  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child
    > tr:first-child
      > th,
      > td
        border-top 0
  td 
        border-bottom $line--thin-dotted
        

    thead tr th, tbody tr td
        white-space: nowrap;
        for $viewname, $view in $responsive-views
            @media (min-width: $view["min-width"])
                padding: $view["grid-padding"] *0 $view["grid-padding"] 
                // font-size: ($view["font-ratio"] ** -1)rem


  // // Account for multiple tbody instances
  // > tbody + tbody
  //   border-top 2px solid $table-border-color

  // // Nesting
  // .table
  //   background-color $body-bg


// Condensed table w/ half padding

// .table-condensed
//   > thead,
//   > tbody,
//   > tfoot
//     > tr
//       > th,
//       > td
//         padding $table-condensed-cell-padding


// Bordered version
//
// Add borders all around the table and between all the columns.

// .table-bordered
//   border 1px solid $table-border-color
//   > thead,
//   > tbody,
//   > tfoot
//     > tr
//       > th,
//       > td
//         border 1px solid $table-border-color

//   > thead > tr
//     > th,
//     > td
//       border-bottom-width 2px


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped
  > tbody > tr:nth-of-type(odd)
    background-color $bg-color__table-striped


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover
  > tbody > tr:hover
    background-color $bg-color__table-hover


// Table cell sizing
//
// Reset default table behavior

// table col[class*="col-"]
//   position static // Prevent border hiding in Firefox and IE11 (see https://github.com/twbs/bootstrap/issues/11623)
//   float none
//   display table-column

// table
//   td,
//   th
//     &[class*="col-"]
//       position static // Prevent border hiding in Firefox and IE11 (see https://github.com/twbs/bootstrap/issues/11623)
//       float none
//       display table-cell


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// // Generate the contextual variants
// table-row-variant(active, $table-bg-active)
// table-row-variant(success, $state-success-bg)
// table-row-variant(info, $state-info-bg)
// table-row-variant(warning, $state-warning-bg)
// table-row-variant(danger, $state-danger-bg)


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive
    overflow-x scroll 

    width 100%

    // Tighten up spacing
    > .table
      margin-bottom 0

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot
        > tr
          > th,
          > td
            white-space nowrap

    // Special overrides for the bordered tables
    > .table-bordered
      border 0

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot
        > tr
          > th:first-child,
          > td:first-child
            border-left 0

          > th:last-child,
          > td:last-child
            border-right 0

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot
        > tr:last-child
          > th,
          > td
            border-bottom 0

