extends /_shared-jade/layout--forum



block title
    title Forum Beschleunigerphysik (beschleunigerphysik.de)


block bodyClassVars
    - var siteName = "forum"
    - var pageName = "forum-homepage"
    - var pagePath = "/forum/"

block page__header__main
    h1 Forum<br>Beschleuniger-<br>physik

block page__main
    - var forumMembers = helpers.readJSON("./_source/content/forum-members.json")
    - var affiliations = helpers.getAffiliations()
    
    .container

        section
            .grid__row
                .grid__item.grid__item--header
                    .content
                        h2 Wer und wozu?


            .grid__row
                .grid__item--md-6
                    .content
                        
                        :supermarkdown
                            Das <span class='forum-beschleunigerphysik'>Forum Beschleunigerphysik</span> ist eine **Interessensgemeinschaft** der in der deutscher Beschleunigerphysik Tätigen. Das <span class='forum-beschleunigerphysik'>Forum</span> dient dem **wissenschaftlichen Austausch** und der **Vorbereitung von Forschungsverbünden**.


                .grid__item--md-6
                    .content
                        :supermarkdown
                            Die **[Registrierung](/forum/registrierung/)** erfolgt über diese Webpräsenz.

                            Regelmäßig kommt das <span class='forum-beschleunigerphysik'>Forum Beschleunigerphysik</span> auf  **[Vollversammlungen](/forum/vollversammlungen/)** zusammen.

                            Alle drei Jahre  **[wählen](/kfb/wahlen/)** die Mitglieder des <span class='forum-beschleunigerphysik'>Forum Beschleunigerphysik</span> das <span class='komitee-für-beschleunigerphysik'>Komitee für Beschleunigerphysik</span> als ihre Vertretung.


        section
            .grid__row
                .grid__item.grid__item--header
                    .content
                        h2 #[strong Mitglieder] des Forums

            .grid__row
                .grid__item.content--tight
                    p Derzeit gehören dem Forum Beschleunigerphysik #[span.size= forumMembers.length] Personen an.

            .grid__row
            .grid__item.grid__item--no-padding.content--tight

                    .table-responsive
                        table.table.table-hover.table-striped
                            thead
                                tr
                                    th Titel
                                    th Vorname
                                    th Nachname
                                    th Institut
                                    th &nbsp;

                            tbody
                                each member, i in forumMembers
                                    tr(class="#{member.electoralGroup}")
                                        td.table__td--academic-title= member.academicTitle
                                        td.table__td--given-name= member.givenName
                                        td.table__td--family-name= member.familyName
                                        td.table__td--affiliation= (typeof affiliations[member.affiliation_id] != "undefined") ? affiliations[member.affiliation_id].name__short : "XXXXX"
                                        td.table__td--electoral-group
                                            +c-badge(affiliations[member.affiliation_id]["electoralGroup"], false)
