mixin objToList(entries, pagePath, tooltipPrefix="")
    ul.c-site-overview__microsite-toc
        each entry, index in entries
            if (!entry.hide_menu_item)
                li.c-site-overview__microsite-toc-item(data-hoverlink=entry.url)
                    a.c-site-overview__microsite-toc-item-link(href=entry.url data-index=index title!= tooltipPrefix + entry.title)
                        .c-site-overview__microsite-toc-item-title!= entry.title
                        //- .c-navigation__menu-item-icon
                        //-     svg(version="1.1", xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 52")
                        //-         rect.icon-stroke(x='2', y='28', width='22', height='22')
                        //- if (entry.icon)
                        //-     .c-navigation__menu-item-icon-2(class!= "svg__" + entry.icon)



mixin c-site-overview($sitemap)
    
    .c-site-overview

        .c-site-overview__background.c-site-overview__background--top
            svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 1039 804")
                rect.yellow(width='329', height='250')
                rect.blue(x='355', y='1', width='329', height='250')
                rect.red(x='710', y='1', width='329', height='250')
                rect.yellow(y='276', width='329', height='250')
                rect.blue(x='355', y='277', width='329', height='250')
                rect.red(x='710', y='277', width='329', height='250')
                rect.yellow(y='553', width='329', height='250')
                rect.blue(x='355', y='554', width='329', height='250')
                rect.red(x='710', y='554', width='329', height='250')

        .c-site-overview__background.c-site-overview__background--bottom
            svg(version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",viewBox="0 0 1039 804")
                rect.yellow(width='329', height='250')
                rect.blue(x='355', y='1', width='329', height='250')
                rect.red(x='710', y='1', width='329', height='250')
                rect.yellow(y='276', width='329', height='250')
                rect.blue(x='355', y='277', width='329', height='250')
                rect.red(x='710', y='277', width='329', height='250')
                rect.yellow(y='553', width='329', height='250')
                rect.blue(x='355', y='554', width='329', height='250')
                rect.red(x='710', y='554', width='329', height='250')


        .container

            .c-site-overview__microsites
            
                .c-site-overview__microsite.c-site-overview__microsite--kfb

                    .c-site-overview__microsite-header
                        a.onClickLink(href="/kfb")

                            h2.c-site-overview__microsite-title
                                | Komitee für Beschleuniger&shy;physik

                            .c-site-overview__microsite-logo
                                .inline-svg.svg__logo--kfb

                            p.c-site-overview__microsite-tagline
                                | Die #[strong Vertretung] deutscher Beschleuniger&shy;physikerinnen und #[span.nowrap -physiker] nach außen.

                    .c-site-overview__microsite-details
                        +objToList($sitemap.data["/"].pages["kfb"].pages, pagePath)



                .c-site-overview__microsite.c-site-overview__microsite--forum

                    .c-site-overview__microsite-header

                        a.onClickLink(href="/forum")

                            .c-site-overview__microsite-logo
                                .inline-svg.svg__logo--forum


                            h2.c-site-overview__microsite-title
                                | Forum Beschleuniger&shy;physik

                            p.c-site-overview__microsite-tagline
                                | Die #[strong Interessens&shy;gemeinschaft] deutscher Beschleuniger&shy;physikerinnen und #[span.nowrap -physiker].

                    .c-site-overview__microsite-details
                        +objToList($sitemap.data["/"].pages["forum"].pages, pagePath)


                .c-site-overview__microsite.c-site-overview__microsite--accelerators

                    .c-site-overview__microsite-header

                        a.onClickLink(href="/forum")
                            .c-site-overview__microsite-logo
                                .inline-svg.svg__logo--forum
                            h2.c-site-overview__microsite-title
                                | Beschleuniger für Teilchen, Wissen und Gellschaft

                            p.c-site-overview__microsite-tagline
                                | Einblicke in das, was die Beschleunigungs&shy;physik in Deutschland bewegt.
                        

                    .c-site-overview__microsite-details
                        +objToList($sitemap.data["/"].pages["accelerators"].pages, pagePath)



                            //- .c-site-overview__microsite-details
                            //-     .global-pages
                            //-         +objToList(Object.keys($sitemap.data["/"].pages).map(key => $sitemap.data["/"].pages[key]).filter(p => !p.pages), pagePath)

                        //- .c-site-overview__microsite-details
                        //-     +objToList($sitemap.data["/"].pages["accelerators"].pages, pagePath)

