.c-site-overview

    width: 100vw
    height: 100%

    @extend .content-font
    position: relative

    background: rgba(0,0,0,.1)

    margin-bottom: 5rem

    a
        border: none
        text-decoration: none

    .c-site-overview__background
        width: 100%
        position: absolute

        left: 0;
        right: 0;

        svg
            width: 700px
            position: absolute
            bottom: -350px
            left: 0;
            right: 0;

            // height: 100%

            transform: perspective( 1000px ) rotateX(86deg) scale(1.1)
            margin-left: auto;
            margin-right: auto;

            .yellow
                fill: $kfb_yellow
            .blue
                fill: $kfb_blue
            .red
                fill: $kfb_red


    .c-site-overview__background--top
        top: 0

        svg
            transform: perspective( 1000px ) rotateZ(180deg) rotateX(86deg) scale(-1.1)
            top: 1300px

    .c-site-overview__background--bottom
        bottom: 530px



    // .menu__item-title
    //     display: inline-block
    // .menu__item-icon
    //     display: none

    // .menu__item-icon-2
    //     display: inline-block
    //     background-size: $line-height--root * .8
    //     width:  $line-height--root * .8
    //     height:  $line-height--root * .8
    //     background-repeat: no-repeat
    //     float: right

    // .global-pages
    //     font-size: $font-size--body-small
    //     @media (max-width: $responsive-views.lg.max-width)
    //         border-top: $line--thin

    // @media (max-width: $responsive-views.lg.max-width)

    //     .c-site-overview__microsites
    //         display: flex;
    //         flex-wrap: wrap;
    //         justify-content: space-between
    //         z-index: 3000
    //         max-width: 100vh
    //         overflow-y: scroll;

    //     .c-site-overview__microsite
    //         transition: 200ms

    //         padding: $line-height--root * 1
    //         width: 100%
    //         background-color: rgba(white, 0.95)
    //         z-index: 3000

    //     .c-site-overview__microsite--accelerators
    //         width: 100%
    //         margin-top: $line-height--root * 1
    //         margin-bottom: -5 * $line-height--root
    //         z-index: 3000

    @media (min-width: $responsive-views.lg.min-width)

        .c-site-overview__microsites
            display: flex
            justify-content: space-between
            align-items: top

            margin-right: -1rem

            padding: 3rem 0rem


        .c-site-overview__microsite
            transition: transform 200ms
            padding: 1rem
            flex: 1

            transform: scale(1.0);
            
            margin-right: 1rem
            background-color: rgba(white, 0.95)

            // box-shadow: 1px 1px 1px black



    .c-site-overview__microsite-header

        a
            border-bottom: none

    .c-site-overview__microsite-logo

        text-align: center

        .inline-svg
            display: inline-block
            height: 4rem
            width: 100%
            transition: transform .2s
            transform: scale(1)

    h2.c-site-overview__microsite-title
        font-weight: bold
        font-size: 1rem
        display: none

    .c-site-overview__microsite-tagline
        $make_small()
        @extend $l-grid__item--padded
        border-bottom: $line--thin
        border-top: $line--thin



    // .c-site-overview__microsite-details



    .c-site-overview__microsite-toc-item-link
        display: block
        

        @extend $l-grid__item--padded
        border-bottom: $line--thin-dotted

    .c-site-overview__microsite-toc-item-link:hover
        background-color: rgba(black, 0.05)