mixin box()
    .c-box
        block

mixin box__header()
    .content
        block

mixin box__body()
    block

mixin box__body-column(column)
    div(class="l-grid__item--" + column)
        .content
            block



mixin box__body-ul
    ul
        block

mixin box__body-li
    li.grid__list-item.content-font
        block
