mixin dateFormat(date, location="")
    time(datetime=helpers.moment(date).format())
        .date
            span.day= helpers.moment(date).format("DD")
            span.month= helpers.moment(date).locale('de').format("MMM")
            span.year= '' + helpers.moment(date).format("YYYY")
        if (location)
            span.location!= location
