mixin meeting($meeting)
    li.event.grid__row
        .event__body
            h3!= $meeting.title
            if $meeting.links
                ul.links
                    each link in $meeting.links
                        li #[a(href=link.url)!= link.title]
        .event__date
            if $meeting.date_start
                +dateFormat($meeting.date_start, $meeting.location)
            else if $meeting.date
                +dateFormat($meeting.date, $meeting.location)
        