mixin translate(term)
    span(class="translation")
        case term
            when "electrons"
                | Elektronen
            when "ions"
                | Protonen/Ionen
            when "synchrotron"
                | Synchrotron
            when "linear-accelerator"
                | Linearbeschleuniger
            when "microtron"
                | Mikrotron
            when "nuclear-physics"
                | Kernphysik
            when "photon-science"
                | Forschung mit Photonen
            when "neutron-science"
                | Forschung mit Neutronen
            when "nuclear-phyics"
                | Kernphysik
            when "nuclear-phyics"
                | Kernphysik
            when "particle-physics"
                | Teilchenphysik
            when "nuclear-physics, particle-physics"
                | Kernphysik, Teilchenphysik
            default
                | ???#{term}???

