
#accelerators__operating-principle
    height: 100vh
    width: 100vw
    bottom: 0
    top: inherit
    z-index: 10

#accelerators__operating-principle iframe
    height: 100vh
    width: 100vw
    bottom: 0

.page--accelerators__operating-principle .accelerators__page-section
    
    background-color: transparent


// .page--accelerators__operating-principle .accelerators__story-section
//     pointer-events: none;
// // .page--accelerators__operating-principle


 
//     .accelerator-component
//         width: 100vw
//         height: 100vh
//         position: relative
//         background-size: 100%
//         background-repeat: no-repeat
        
//         // flex-direction: column
//         // justify-content: stretch
//         // align-items: space-between

//         .accelerator-component__main
//             min-height: $line-height--root * 8
//             position: absolute
//             bottom: 0
//             background-color: rgba(white, 0.8)
//             padding: $line-height--root * 1

//         // figure
//         //     align-self: flex-end
//         //     margin: 0
//         //     padding: 0
//         //     width: calc(50% - 13px)
//         //     min-height: $line-height--root * 16
//         //     background-position: left bottom
//         //     margin: -1 * $line-height--root
//         //     margin-left: -2 * $line-height--root
//         //     position: relative


//         figcaption
//             position: absolute
//             left: 0




//     // .page__header
//     //     transition: top .2s cubic-bezier(.16, .68, .43, .99);
//     //     position: absolute
//     //     top: 0
//     //     width: 100%

//     // .page__main
//     //     background: none
//     //     height: 100vh

//     // .overview-stage
//     //     height: 100vh

//     // .image-map
//     //     position: absolute
//     //     width: 100vw
//     //     overflow: hidden
//     //     bottom: 0
//     //     opacity: 1
//     //     transition: bottom .8s cubic-bezier(.16, .68, .43, .99);
//     //     z-index: 20000
//     //     white-space: nowrap;

//     // .image-map__img
//     //     width: 14.285714286%


//     // .accelerator-component-label
//     //     // position: absolute
//     //     width: 15vw
//     //     text-align: center
//     //     transition: margin .2s cubic-bezier(.16, .68, .43, .99);
//     //     z-index: 20000
//     //     cursor: pointer;
//     //     bottom: 35vh


//     //     h3
//     //         text-transform: uppercase;
//     //         font-style: italic
//     //         display: inline-block;
//     //         background-color: rgba(white, 1)
//     //         padding: $line-height--root * .5
//     //         width: 15vw
//     //         transition: all .1s
//     //         transform: scale(1)
//     //         box-shadow: 0 1px 2px rgba(0,0,0,0.15);
//     //         overflow: hidden;

//     // .accelerator-component-label:hover

//     //     h3
//     //         // transform: scale(1.2)
//     //         box-shadow: 1px
//     //         box-shadow: 0 5px 10px rgba(0,0,0,0.3);


//     // .accelerator-component-label--particle-source
//     //     left: 10vw


//     // .accelerator-component-label--cavity
//     //     left: 26vw

//     // .accelerator-component-label--focussing-magnet
//     //     left: 42vw

//     // .accelerator-component-label--bending-magnet
//     //     left: 58vw

//     // .accelerator-component-label--particle-dump
//     //     left: 74vw



//     // .accelerator-component-label--tunnel
//     //     left: 0vw
//     //     bottom: 40vh
//     //     display: none

//     // .accelerator-component-label--vacuum-tube
//     //     left: 20vw
//     //     bottom: 40vh
//     //     display: none

//     // .accelerator-component-label--control-room
//     //     right: 0vw
//     //     bottom: 40vh
//     //     display: none





//     // .info-stage
//     //     // position: absolute
//     //     left: 50%
//     //     margin-left: -500px
//     //     margin-right: auto
//     //     top: 0
//     //     width: 1000px
//     //     height: 500px
//     //     overflow: hidden
//     //     background-color: white


//     //     section.accelerator-component
//     //         figure img
//     //                 width: auto;
//     //                 max-height:100%;

//     //         figcaption
//     //             position: absolute
//     //             top: 500px
//     //             left: 0
//     //             width: 100%
//     //             padding: $line-height--root
//     //             background-color: rgba(white, .9)

//     //             h3
//     //                 display: none


//     //     section.accelerator-component
//     //         // display: none

//     //     body[data-state="overview"] section.accelerator-component.accelerator-component--overview
//     //         display: block
