extends /_shared-jade/layout--accelerators

block bodyClassVars
    - var siteName = "accelerators"
    - var pageName = "accelerators__operating-principle"
    - var pagePath = "/beschleuniger/funktionsweise/"

block page__main

    - var $story = helpers.readYAML("_source/site/accelerators/accelerators__story.yaml")

    .accelerators__chart#accelerators__operating-principle
        iframe(id="accelerators__operating-principle-iframe" src="/_shared/media/accelerator__operating-principle/build/accelerators__operating-principle.html")

    +story-section($story.sections["operating-principle"])

block script_
    script.
        document.addEventListener("DOMContentLoaded", function () {
        AcceleratorsLibrary.init("accelerators__operating-principle");
        });



        
        //- .overview-stage

        //-     .image-map
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_01.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_02.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_03.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_04.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_05.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_06.png" alt="")
        //-         img.image-map__img(src="/_shared/images/accelerator-components/components--light-on/accelerator-components_07.png" alt="")
                

        //-     .accelerator-component-label.accelerator-component-label--particle-source(data-target-id="particle-source")
        //-         h2 Teilchenquelle

        //-     .accelerator-component-label.accelerator-component-label--vacuum-tube
        //-         h2 Vakuumröhre

        //-     .accelerator-component-label.accelerator-component-label--cavity(data-target-id="accelerator-module")
        //-         h2 Resonator

        //-     .accelerator-component-label.accelerator-component-label--focussing-magnet(data-target-id="focussing-magnet")
        //-         h2 Fokussiermagnet

        //-     .accelerator-component-label.accelerator-component-label--bending-magnet(data-target-id="bending-magnet")
        //-         h2 Ablenkmagnet

        //-     .accelerator-component-label.accelerator-component-label--particle-dump(data-target-id="particle-dump")
        //-         h2 Teilchenfänger

        //-     .accelerator-component-label.accelerator-component-label--tunnel
        //-         h2 Tunnel

        //-     .accelerator-component-label.accelerator-component-label--control-room
        //-         h2 Kontrollraum

        //- .grid
        //-     .grid__row
        //-         .grid__item--md-6
        //-             .content
        //-                 .accelerator-components

        //-                     .accelerator-component(style="background-image: url(/_shared/images/accelerators/working-principle/accelerator-components.png)")
                            
        //-                         .accelerator-component__main
        //-                                 h2 Teilchenquelle
        //-                                 p Die Reise der Teilchen startet an der Quelle. Hier werden Strahlen von Elektronen, Protonen oder Ionen erzeugt. Oft sind viele Milliarden Teilchen zu Paketen gebündelt.
        //-                         figure
        //-                             figcaption Elektronenquelle
        //-                                 .credits DESY


        //-                     .accelerator-component.accelerator-component--particle-source(style="background-image: url(/_shared/images/accelerators/working-principle/particle-source.jpg)")
        //-                         .accelerator-component__main
        //-                             h2 Teilchenquelle
        //-                             p Die Reise der Teilchen startet an der Quelle. Hier werden Strahlen von Elektronen, Protonen oder Ionen erzeugt. Oft sind viele Milliarden Teilchen zu Paketen gebündelt.
        //-                         figure
        //-                             figcaption Elektronenquelle
        //-                                 .credits DESY



        //-                     .accelerator-component.accelerator-component--accelerator-module(style="background-image: url(/_shared/images/accelerators/working-principle/resonator.jpg)")
        //-                         .accelerator-component__main
        //-                             h2 Resonator
        //-                             p Die Beschleunigung der Teilchen erfolgt in metal­lischen Hohlräumen, in denen elektrische Kräfte schnell schwingen. Von diesen werden die Teilchen mitgerissen wie Surfer auf einer Wasserwelle.
        //-                         figure
        //-                             //- img.responsive(src="/_shared/images/accelerators/working-principle/resonator.jpg" alt="Photo eines Resonators")
        //-                             //- img(src="/_shared/images/accelerator-components/hohlraumresonator-gruenes-feld.png" alt="Photo eines Resonators")
                                    
                                    
        //-                             figcaption
        //-                                 .credits Beschleunigungselement aus supraleitendem Niob [DESY]

        //-                     .accelerator-component.accelerator-component--focussing-magnet
        //-                         .accelerator-component__main
        //-                             h2 Fokussiermagnete
        //-                             p Fokussiermagnete sorgen dafür, dass die Teilchen in den Teilchenpaketen nicht auseinanderfliegen. Sie wirken wie eine Sammellinse und bündeln die Teilchenpakete ähnlich, wie eine Lupe Licht fokussiert.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/quadrupole.jpg")
        //-                             figcaption
        //-                                 .credits Vierpoliger Fokussiermagnet [European XFEL]

        //-                     .accelerator-component.accelerator-component--bending-magnet
        //-                         .accelerator-component__main
        //-                             h2 Ablenkmagnete
        //-                             p Ablenkmagnete bringen die Teilchen auf kreisförmige Bahnen. Damit lassen sich ringförmige Beschleuniger realisieren, oder die Teilchen können nach getaner Arbeit aus dem Beschleuniger gelenkt werden.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/dipole.jpg" alt="Photo eines Dipols")
        //-                             //- img(src="/_shared/images/accelerator-components/dipole-schema.png" alt="Photo eines Dipols")
        //-                             figcaption
        //-                                 .credits Zweipoliger Ablenkmagnet [GSI]


        //-                     .accelerator-component.accelerator-component--vacuum-tube
        //-                         .accelerator-component__main
        //-                             h2 Vakuumröhren
        //-                             p Um Kollisionen mit Luftmolekülen zu vermeiden, bewegen sich die Teilchen in Vakuumröhren. In einigen Beschleunigern wird ein besseres Vakuum erreicht als das Vakuum in unserem Sonnensystem.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/vacuum-tube.jpg" alt="Photo eines Dipols")
        //-                             figcaption
        //-                                 .credits Vakuumröhren [HZDR]

        //-                     .accelerator-component.accelerator-component--tunnel
        //-                         .accelerator-component__main
        //-                             h2 Tunnel
        //-                             p Beschleuniger werden oft in Tunneln errichtet. Das liegt an ihrem großen Platzbedarf. Zudem bieten Beton und einige Meter Erdreich ausreichenden Schutz vor entstehender Strahlung.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/tunnel.jpg" alt="Photo eines Dipols")
        //-                             figcaption
        //-                                 .credits Tunnel [European XFEL]


        //-                     .accelerator-component.accelerator-component--particle-dump
        //-                         .accelerator-component__main
        //-                             h2 Teilchenfänger
        //-                             p Wenn die Reise der beschleunigten Teilchen zu Ende geht, werden sie zur Entsorgung in dicke Materieblöcke – meist aus Grafit – gelenkt. Dort geben die Teilchen ihre Energie als Wärme frei.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/particle-dump.jpg" alt="Photo eines Teilchenfänge4rs")
        //-                             figcaption Die Abzweigung zum Teilchenfänger von FLASH 
        //-                                 .credits DESY / FLASH


        //-                     .accelerator-component.accelerator-component--control-room
        //-                         .accelerator-component__main
        //-                             h2 Kontrollraum
        //-                             p Beschleuniger für die Wissenschaft laufen 24 Stunden am Tag, sieben Tage die Woche. Im Kontrollraum kümmern sich Expertenteams im Schichtbetrieb darum, dass alles reibungslos vonstattengeht.
        //-                         figure
        //-                             img.responsive(src="/_shared/images/accelerators/working-principle/control-room.jpg" alt="Photo eines Teilchenfänge4rs")
        //-                             figcaption LHC-Kontrollraum
        //-                                 .credits CERN


