include /_mixins/lorem

doctype html
html(lang="de")

    head
        meta(charset="utf-8")

    style.
        .columns-2 {
            //- columns-count: 2
        }


    body

        .container
            .columns-2
                ol
                    li Eins
                    li Zwei
                    li drei


                +lipsum(2, "paragraphs")