doctype html
html(lang="de")

    head
        meta(charset="utf-8")
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //meta(name="description", "")
        block title
            title Beschleunigerphysik
        //- link(href="/_shared/favicon.png", rel="icon")
        link(href="/_shared/css/default.css", rel="stylesheet")


    body.page--screenshots
        
            each page in helpers.getSitemap().linearization
                h2 #[span.outline= page.outline] #[span.title= page.title]
            
                table
                    thead
                        tr
                            each viewport in viewports
                                th= viewport.name
                    tbody
                        tr
                            each viewport in viewports
                                td 
                                    img(class=viewport.name src="images/" + page.name + "/" + viewport.name + ".png" alt="")
