$screenshot_scale ?= 0.5

.page--screenshots
    padding: $line-height--root * 3
    background-color: #eee
    h2
        margin-top: $line-height--root * 2
        margin-bottom: $line-height--root * 1
        padding-left: $line-height--root * .5
    
    table
        th
            font-weight: 300
        td
            vertical-align: top
            padding-right: $line-height--root
            img
                box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);

            for $viewmame, $view in $responsive-views
                img.{$viewmame}
                    width: $screenshot_scale * $view["screenshot-width"]
