extends /_shared-jade/layout--forum


block bodyClassVars
    - var siteName = "forum"
    - var pageName = "forum-assemblies"
    - var pagePath = "/forum/vollversammlungen/"


block page__header__main
    h1 Versammlungen
    p.subtitle des Forums<br>Beschleunigerphysik


block page__main
    - var $events = helpers.getContentOfFolder("./_source/content/forum/events/**.md", "ascending")
    - var $future_events = $events.filter(d => { d1 = new Date(); d2 = new Date(d.data.date); return d1.getTime() <= d2.getTime()})
    - var $past_events = $events.filter(d => { d1 = new Date(); d2 = new Date(d.data.date); return d1.getTime() > d2.getTime()})



    .container
        .grid__row
            .grid__item--md-6.grid__item--header

                .content
                    h2 Kommendes #[span.dimmed Treffen]

                ul
                    each $event, i in $future_events
                        li.content
                            +c-event($event)
                        
                if ($future_events.length == 0)
                    .content
                        p Der Termin der nächsten Vollversammlung steht noch nicht fest.

            .grid__item--md-6.grid__item--header

                .content
                    h2 Archiv

                ul
                    each $event, i in $past_events
                        li.content
                            +c-event($event)
