.page--elections 



    li
        display: flex
        flex-flow: row nowrap

    .name
        flex: 3
    .value
        flex: 1
        text-align: right

    .votes
        flex: 1
        order: 2
        text-align: right

    svg
        margin-left: auto
        margin-right: auto


    .value--all
        color: gray
        // font-size: $font-size--body-large

    .value--invalid
        color: red

    .value--valid
        color: green
        // font-size: $font-size--body-large

    .arc-0
        fill-opacity: 0.4
        fill: gray

    .arc-1
        fill: green
        stroke: green
        stroke-width: 10px
        stroke-opacity: .5


    .electoral-group-header
        .cell
            border-top: $line--thin


    .candidate .cell
        border-top: $line--thin

    .candidate .name
        white-space: nowrap;

    .candidate .affiliation
        color: $kfb_gray
        font-weight: 300

    .votes
        flex: 1

    li
        position: relative
        $responsive-horizontal-padding()
        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, 0, 1)


    .votes-bar
        background-color: orange
        position: absolute;
        left: 0
        bottom: -3px
        content: " "
        height: 5px //1.5 * 1.75rem
        // border: rgba(white, 0.5) 3px solid


    .electoral-group--helmholtz .candidate .votes-bar
        background-color: $color_helmholtz

    .electoral-group--university .candidate .votes-bar
        background-color: $color_university
    .electoral-group--others .candidate .votes-bar
        background-color: $color_others
    .electoral-group--abroad .candidate .votes-bar
        background-color: $color_abroad


    .candidate .votes-bar
        opacity: .3

    .candidate.elected .votes-bar
        opacity: 1


    h3
        border-bottom: $line--thin
        border-bottom-style: solid
        border-bottom-width: 1px
        

        for $viewname, $view in $responsive-views
            @media screen and (min-width: $view["min-width"]) and (max-width: $view["max-width"])
                $typesetting-declarations($view, 0, 1)


    .candidate
        opacity: 0.5
        // font-weight: 300

    .candidate.elected
        opacity: 1

    .electoral-group--abroad,
    .electoral-group--university,
    .electoral-group--helmholtz,
    .electoral-group--non_helmholtz_germany
        margin-bottom: $line-height--root * 2

    .electoral-group--university 
        li, h3
            border-color: rgba($color_university, 1)

    .electoral-group--helmholtz 
        li, h3
            border-color: rgba($color_helmholtz, 1) 

    .electoral-group--abroad
        li, h3
            border-color: rgba($color_abroad, 1) 

    .electoral-group--non_helmholtz_germany
        li, h3
            border-color: rgba($color_others, 1) 
