extends /_shared-jade/layout--kfb



block bodyClassVars
    - var siteName = "kfb"
    - var pageName = "elections"
    - var pagePath = "/kfb/wahlen/"

block title
    title KfB-Wahlen (beschleunigerphysik.de)


block page__header__main
    h1 Wahlen
    p.subtitle zum KfB
    p.subtitle 2010, 2013 und 2016

block page__main
    - function get_max_votes(candidates) { return Math.max.apply(null, candidates.map(c => {return c.votes}))}
    mixin candidate(candidate, max_votes)
        - var votes_rel = candidate.votes/max_votes*100
        li(class="candidate " + ((candidate.status === "elected") ? " elected" : ""))
            .votes-bar(style="width:" + votes_rel + "%")
            .votes= candidate.votes
            .name  #{max_vote} #{candidate["first-name"]} #{candidate["last-name"]} #[div.affiliation!= candidate.affiliation]

    mixin candidates(candidatesArray)
        - candidatesArray = candidatesArray.sort(function(a,b){return a.votes < b.votes})
        if (candidatesArray.length > 0)
            - max_votes = get_max_votes(candidatesArray)
            each candi in candidatesArray
                +candidate(candi, max_votes)
        if (candidatesArray.length == 0)
            p Keine Kandidaten

    mixin candidate_selector(candidate)
        - var slug = helpers.slugify(candidate['last-name'])
        .candidate-profiles__selector-item(class="candidate-profiles__selector-item--" + slug style="background-image:url(/_shared/images/portraits/2016_"+ slug+".jpg)")
            a(href="##{slug}")
                .row
                    .col-xs-12
                        .cell #{candidate["first-name"]} #[strong #{candidate["last-name"]}], #[span.affiliation!= candidate.affiliation]

    - var elections = helpers.readYAML("./_source/content/kfb-elections/kfb-elections.yaml")

    .container
        each election in elections
            if (election.type === "results")

                .grid
                    .grid__row
                        .grid__item.grid__item--header
                            .content
                                h2!= election.title
                        .grid__item
                            .content
                                p!= election.description

                    .grid__row.election-overview

                        .grid__item--xs-12.grid__item--md-4
                            .content

                                h3 Datum
                                p #{election.date}

                        .grid__item--xs-12.grid__item--md-4
                            .content--tight

                                h3 Wahlbeteiligung

                                ul.grid__item-list
                                    li
                                        .name Wahlberechtigte
                                        .value= election.entitled_to_vote
                                            
                                    li
                                        .name eingegangene Wahlbriefe
                                        .value= election.election_letters__total
                                    li

                                        .name Stimmzettel ungültig
                                        .value= election.election_letters__invalid_vote
                                    li
                                        .name fehlender Wahlausweis
                                        .value= election.election_letters__invalid_authorization


                        .grid__item--xs-12.grid__item--md-4
                            .content.turnout.hidden-xs
                                .row
                                    .col-md-12
                                        .cell
                                            h3 &nbsp;
                                    .col-md-12
                                        .cell
                                            .turnout-svg

                    .grid__row

                        .grid__item--xs-12.grid__item--md-4.election-details.electoral-group--university

                            .content
                                
                                h3 Hochschulen
                            
                            ul.grid__item-list
                                +candidates(election.candidates["universities"])

                        .grid__item--xs-12.grid__item--md-4.election-details.electoral-group--helmholtz

                            .content

                                h3 Helmholtz-Zentren

                            ul.grid__item-list
                                +candidates(election.candidates["helmholtz"])


                        .grid__item--xs-12.grid__item--md-4.election-details.electoral-group--abroad

                            .content

                                h3 Ausländische Institute

                            ul.grid__item-list.electoral-group--others

                                +candidates(election.candidates["abroad"])

                            .content

                                h3 Sonstige deutsche Institute

                            ul.grid__item-list
                                +candidates(election.candidates["others"])


block script_
    script.
        window.addEventListener('load', function () {AcceleratorsLibrary.KfBElectionsRunner();}) 
